/* =========== Nuevos estilos para la pagina ================*/
.btn-test {
	background-color: #00A893;
	font-size: 18px;
	text-align: center;
	font-family: montserrat-bold;
	color: #FFF;
	width: 100%;
	padding: 9px 0;
	margin-bottom: 15px;
	padding: .84rem 2.14rem;
	border-radius: .125rem;
	transition: all .2s ease-in-out;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	line-height: 1.5;
	display: inline-block;
	transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.btn-green:active,
.btn-test:hover {
	color: #FFF !important;
}

.tab-content-video {
	padding: 0 15px;
	margin-top: 15px;
}

.tab-content-video .card {
	padding: 15px 13px;
}

.tab-content-video .card-header {
	background-color: #FFF;
	font-size: 15px;
	line-height: 18px;
	color: #333333;
	font-family: montserrat-bold;
	border-bottom: none;
	padding: 0;
}

.tab-content-video .card-header a {
	color: #333333;
	text-decoration: none;
}

.tab-content-video .fa-angle-down {
	color: #00A893;
}

.tab-content-video .card-body {
	padding: 20px 1.25rem 0;
}

.tab-content-video .card-body a {
	color: #333333;
	font-family: montserrat-regular;
	font-size: 12px;
	line-height: 15px;
	margin-left: 11px;
}

ul.tab-course {
	border-bottom: .5px solid #BDBDBD;
	margin: 0 15px;
}

.tab-course .nav-link {
	margin-left: 0;
}

.tab-course a.nav-link {
	font-family: montserrat-bold;
	color: #8e8a8a;
}

.tab-course a.nav-link:hover {
	color: #333;
}

.tab-course a.active {
	color: #00A893 !important;
	border-bottom: 2px solid #00A893;
}

.tab-course li {
	width: 50%;
	text-align: center;
}

.tab-course .fa-folder,
.tab-course img {
	margin-left: 3px;
}

.course-test-final {
	margin-left: 15px;
	margin-right: 15px;
}

/*Estilos par martor en cliente Blog*/

blockquote {
	border-left: 4px solid #DDD;
	padding: 5px 15px;
	color: #777;
	background-color: #fff;
}

form.cmxform label.error,
label.error {
	/* remove the next line when you have trouble in IE6 with labels in list */
	color: red;
	font-style: italic;
}

div.error {
	display: none;
}

input {
	border: 1px solid black;
}

input.checkbox {
	border: none;
}

input:focus {
	border: 1px dotted black;
}

input.error {
	border: 1px dotted red;
}

form.cmxform .gray * {
	color: gray;
}

/* font-family: 'Nunito Sans', sans-serif !important; */
/*@import url('https://fonts.googleapis.com/css?family=Nunito+Sans:300i,400,400i,600,600i,700,700i,800,800i,900');
*/
/*estilos completar cursos*/
.bod1 {

	background: -webkit-linear-gradient(90deg, #0099CC 10%, #1565c0 90%);
	background: -moz-linear-gradient(90deg, #0099CC 10%, #1565c0 90%);
	background: -ms-linear-gradient(90deg, #0099CC 10%, #1565c0 90%);
	background: -o-linear-gradient(90deg, #0099CC 10%, #1565c0 90%);
	background: linear-gradient(90deg, #0099CC 10%, #1565c0 90%);
}

.bod2 {

	background: -webkit-linear-gradient(90deg, #f5f5f5 10%, #eeeeee 90%);
	background: -moz-linear-gradient(90deg, #f5f5f5 10%, #eeeeee 90%);
	background: -ms-linear-gradient(90deg, #f5f5f5 10%, #eeeeee 90%);
	background: -o-linear-gradient(90deg, #f5f5f5 10%, #eeeeee 90%);
	background: linear-gradient(90deg, #f5f5f5 10%, #eeeeee 90%);
}

/*header registro*/
.navbar1 {
	margin-top: -3.5em;
	background: #f2eff3;
	padding: .6em;
	border-bottom: solid #E4E1E6 .2px;
}

.img2 {
	margin-left: 2em;
}

.card-body {
	background: #fff;

}

.card-data {
	background: #f9f9f9;
}

.enlace_cursograt {
	padding-top: 1em;
}

.mi {
	margin-right: 7em;
}

.pl::placeholder {
	color: #004760;
}

.modal-header1 {
	display: none;
	-ms-flex-align: start;
	align-items: flex-start;
	-ms-flex-pack: justify;
	justify-content: space-between;
	padding: .5rem;
}

.modal-header1 .close {
	padding: .5rem .9rem;
	border-radius: 1em;
	color: #2b548e;
}

@media (max-width: 575.98px) {
	.modal-header1 {
		display: -ms-flexbox;
		display: flex;
	}
}

/*cursos y eventos*/
.card-data {
	background: #f5f5f5;
}

.row-cur {
	margin-bottom: 2em;
}

.col1 {
	margin-bottom: 1em;
}

.hora {
	font-size: 14px;
	color: red;
}

.col5 {
	padding-right: 2em;
	padding-left: 2em;
	padding-top: 1em;
	-moz-box-shadow: 0 0 3px #888;
	-webkit-box-shadow: 0 0 3px#888;
	box-shadow: 0 0 3px #888;
}

.contenedor2 {
	background: #eeeeee;

}

.font_vi {
	background: #263238;
}

.mrg_cur {
	margin-top: 2em;
	margin-left: .5em;
}

.mrg_c1 {
	margin-bottom: 1em;
}

.clr {
	color: #0099CC;
	margin-right: 1em;
}

.topics i {
	margin-right: 1em;
}

.cont_cur {
	margin-bottom: 6em;
}

.col_cur1 {
	padding-top: 2em;
	padding-right: 2em;
}

.tam {
	width: 95px;
	height: 95px;
}

.mrg_fil {
	padding-left: 2em;
	margin-top: 5em;
}

.col_cur2 {
	padding-top: 2em;
	padding-right: 2em;
}

/*secion de cursos clases*/
.activo {
	border-bottom: solid #0099CC;
}

.activo_vert {
	border-left: .4em solid #0099CC;

}

.nav_cur1 {
	font-family: Roboto-Medium.ttf;
	text-decoration-color: black;
}

.tex_estil {
	color: #262626;

	font-size: 15px;
	font-family: Roboto-Medium.ttf;

}

.nav:focus {
	border-bottom: solid #0099CC;

}

.mrg_top {
	margin-top: 2em;
}

.col_r {
	color: #fff;
	padding-bottom: 1.4em;
	padding-top: .6em;
	font-family: Roboto-Medium.ttf;
	font-size: 20px;
}

.tam1 {
	width: 40px;
	height: 40px;
}

.line {
	display: flex;
}

.campo_scroll {
	height: 472px;
	overflow: scroll;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

.tab {
	padding-top: 1em;
	background: #E0E0E0;
}

.conte_clase {
	background: #f5f5f5;
}

.miss {
	font-size: 14px;
	font-family: Roboto-Medium.ttf;
	color: #1565c0;
}

.fond_h {
	font-family: Roboto-Regular.ttf;
	padding-top: 1em;
	padding-bottom: 1em;
	padding-left: 1em;
	font-size: 12px;

	margin: 0;
}

.item {
	color: black;
}

.vert {
	border-bottom: 1px solid #E0E0E0;

}

.fond_color1 {
	background: #E0E0E0;
	padding-left: 1.4em;
	padding-top: 1em;
	padding-bottom: .5em;
	s;
}

.contene_discu {
	margin-top: .6em;
}

/*detalles curso*/
.product-name {
	font-family: Roboto-Black.ttf;
}

.titulo_prod {
	font-family: Roboto-Black.ttf;
}

.titulo_temario {
	color: #212121;
	font-family: Roboto-Regular.ttf;
}

.pu {
	margin-bottom: .8em;
}

.contenedor_detcu {
	background: #f9f9f9;

}

.contenedor_detalle {
	padding-bottom: 2em;

}

/*index principal inicio*/
.mrgev {
	margin-top: 1em;
}

.mrgev1 {
	margin-top: 4em;
}

.contenedor1 {
	background: #f9f9f9;
}

.mrg3 {
	margin-bottom: 3em;
	margin-top: 4.4em;
}

.item_font {
	background: red;

}

.fond_color {
	background: #E0E0E0;

}

.icon_color {
	color: #8BC34A;
}

.text_slider {
	color: #2b548e;
	font-size: 20px;

}

.pading_slider {
	margin-top: 1em;
	margin-bottom: 8em;
}

@media screen and (max-width:640px) {
	.pading_slider {
		margin-top: 0;
		margin-bottom: 0;
	}

	.img_banner {
		height: 300px;
	}

}

.padding_enlaces {

	height: 450px;

	padding: .4em .4em 0 0;

}

.sub_enlaces {

	height: 225px;

	padding: .4em;
}

.col_intituciones {
	height: 2.5em;
	margin-bottom: 9em;
}

body,
html {
	max-width: 100%;
	overflow-x: hidden;
}

.nav-right {
	justify-content: center;
}

/*mentores*/
.colim {
	padding: 0;
	border: solid 1px #fff;
}

.mrg5 {
	margin-bottom: 2em;
}

.nomb {
	font-size: 20px;
	color: #fff;
	text-align: center;
	font-family: Roboto-Regular.ttf;
}

.cat {
	font-size: 14px;
	color: #fff;
	text-align: center;
	font-family: Roboto-Regular.ttf;
	padding: 1em;
}

@media screen and (max-width:640px) {
	.nomb {
		font-size: 14px;
		color: #fff;
		text-align: center;
		font-family: Roboto-Regular.ttf;
	}

	.cat {
		font-size: 12px;
		color: #fff;
		text-align: center;
		font-family: Roboto-Regular.ttf;
	}
}

.red1 {
	text-align: center;
}

.cont3 {
	padding-top: 3em;
}

.font {
	background: #1565c0;
}

.bord {
	-webkit-box-shadow: 0 0 9px 4px rgba(0, 0, 0, 0.06);
}

/*estilos para perfil y cuenta*/
.hi {
	padding-top: 1em;
}

.esp {
	margin-bottom: 1em;
}

.fond_perfi {
	background: #828282;
	padding-top: 3em;
}

.fond_perfi1 {
	background: #F5F5F5;
	padding-bottom: 2em;
	padding-top: 1em;
}

.fond_verPerf {
	background: #0068A3;
	padding-top: 3em;
}

.fond_verPerf1 {
	background: #0E5F8C;
	padding-top: 3em;
}

.img_verPer {
	text-align: center;
}

.contenedor_color {
	background: #FF4040;
}

.paddin_perf1 {
	padding-bottom: 12em;
}

.paddin_perf {
	padding-bottom: 5.4em;
}

/*estilos para cuenta*/
.peq {
	font-size: 11px;
}

.peq1 {
	margin-bottom: -14px;
}

.sub_menu_perf {
	color: #fff;
}

.sub_menu_div {
	text-align: center;
	padding-bottom: .6em;
}

/*estilos para cursos de preferencia*/

.col2 {
	background: #fff;
	padding-top: 1em;
	margin-right: 1em;
}

/*compras*/
.img_tam {
	height: 39px;
	width: 60px;
	padding-top: .5em;
	padding-bottom: -1em;
}

.img_tam1 {
	height: 40px;
	width: 40px;
}

.label_tarje {
	font-size: 13px;
	padding: 0 1.3em;
}

.forma {
	border: 1px solid #E0E0E0;
	padding-top: 1em;
}

.titu_compra {
	font-size: 20px;
}

.fila_linea {

	border-bottom: 1px solid #E0E0E0;
}

.marg_comp {
	margin-top: 1em;
}

.marg_comp2 {

	border: solid .01em #E0E0E0;
}

.marg_comp3 {

	border: solid .01em #E0E0E0;
}

.marg_comp4 {
	padding: 2em;
}

.marg_comp5 {
	padding: 2em 1em 2em 2em;
}

.texto {
	font-size: 14px;
}

.ctc {
	margin-left: 1em;
	padding-bottom: 1em;

}

.frm_cuenta {
	padding-left: 1em;
}

.marg_comp22 {
	border: solid .01em blue;
	background: #E0E0E0;
}

/*notificaciones*/
.tam2 {
	height: 50px;
	width: 50px;
}

.fil1 {
	margin: 0;
	padding: 6px 0 6px 15px;
	text-align: center;
}

.fil2 {
	padding: 6px 15px;
	display: flex;
	flex-direction: column;
}

.mns2 {
	margin: 0;
	padding: 0;
	font-size: 13px;
	font-family: Roboto-Regular.ttf;
	color: #424242;
}

.mns1 {
	margin: 0;
	padding: 0;
	font-size: 13px;
	font-family: Roboto-Regular.ttf;
	color: #1565c0;
}

.link_noti {
	border-bottom: 1px solid #E0E0E0;
}

.gris {
	color: #9E9E9E;
	font-size: 12px;
	padding: 0;
	margin: 0;
}

.color_green {
	font-size: 12px;
	color: green;
	padding: 0;
	margin: 0;
}

.color-black {
	color: black;
}

.color-white {
	color: white;
}

.fil_scroll {
	width: 350px;
	max-height: 279px;
	overflow: scroll;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

.fil_scroll ul {
	list-style: none;
	padding: 0;
}

/*notas de las pruebas y tes*/
.curso_notas {
	border-left: 1px solid #E0E0E0;
}

.curso_not1 {
	border-bottom: 1px solid #E0E0E0;
}

.vert1 {
	border-right: 1px solid #E0E0E0;
}

.cen_pad {
	text-align: center;
	font-size: 14px;
	font-family: Roboto-Regular.ttf;
	padding-top: 1em;
}

.cen_pad1 {
	text-align: center;
	color: #757575;
	font-size: 18px;
	font-family: Roboto-Regular.ttf;
	padding-top: 1em;
}

.color_evalua {
	background: #EEEEEE;
}

.color_evalua1 {
	background: #F5F5F5;
}

.card2 {
	margin-top: 3em;
}

/*notificacion_counter*/
.notification_count {
	padding-left: 5px;
	padding-right: 5px;
	background: red;
	color: #ffffff;
	font-weight: bold;
	margin-left: 13px;
	border-radius: 9px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
	position: absolute;
	margin-top: -2px;
	font-size: 10px;
}

.star_icon {
	padding-top: .5em;
	color: #0068A3;
}

/*carrito de compras*/
.dimenc {
	width: 500px;
}

.text_carrit {
	text-align: right;
}

.left_text {
	padding-right: .8em;
}

.parrafo1 {
	padding-left: .6em;
	color: #1565c0;
}

.scroll_carrito {
	height: 200px;
	overflow: scroll;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

.img-cart {
	padding-left: .6em;
	padding-top: .6em;
}

.mensaje_carrito {
	padding-left: 2em;
}

.text_carrit1 {
	text-align: right;
	padding-right: 1.6em;

}

.precio_cart {

	font-size: 20px;
}

.subti_cart {

	font-size: 20px;
}

.grupo_cart {
	margin-bottom: .6em;
}

.ir_carrito {
	margin-left: 2.2em;
}

.pie_cart {
	border-top: 1px solid #E0E0E0;
}

.ir_carrito1 {
	margin-left: 4.2em;
}

@media screen and (max-width:640px) {
	.ir_carrito1 {
		margin-left: 0;
	}
}

.visa {
	width: 60px;
	height: 15px;

}

.efect {
	width: 40px;
	height: 40px;
}

.mgto-mgbt {
	padding-top: .3em;
	padding-bottom: .3em;
}

.cart_not2 {
	border-bottom: 1px solid #E0E0E0;
	margin-bottom: 1em;
}

.product-name1 {
	text-align: center;
	margin-bottom: 2em;
}

.product-name2 {
	margin-bottom: 1em;
}

.primera_col {
	background: red;
	height: 200px;
}

/*index principal*/

.uno {

	margin-right: 1em;
	height: 404px;
	padding: 0;

}

.dos {
	margin-right: 1em;
}

.sub_dos {

	margin-bottom: .8em;
	height: 195px;
	padding: 0;
	background: green;

}

.sub_dos1 {

	height: 195px;
	padding: 0;
	background: red;
}

.cont_enlace {
	background: #2b548e;
}

.cont_enlace1 {
	padding-bottom: 5em;
	padding-top: 3em;
}

.titulo_inde {
	text-align: center;
	color: #fff;
}

.sub_title {
	text-align: right;
	color: #fff;
}

.btn_end {
	text-align: right;

}

.text_ind {
	color: red;
}

.encab_inde {
	margin-bottom: 1em;
}

.color_tam {
	color: #fff;
	font-size: 25px;
}

.tm_img {
	width: 110px;
	height: 110px;
}

.img_center {
	text-align: center;
}

.cont_estadi {
	margin-top: 4em;
}

.cont_mensaj {
	background: #828282;
}

.menja_ind {
	color: #fff;
}

.padi_index {
	padding-top: 3.5em;
	padding-bottom: 3em;
}

.mej_testimonial {
	padding-top: 2em;
}

.contene_testimonial {
	margin-top: 4em;
	margin-bottom: 2em;
	height: 240px;
}

@media screen and (max-width:640px) {
	.contene_testimonial {
		margin-top: 2em;
		margin-bottom: 2em;
		height: 550px;
	}
}

.indicador {
	margin-top: 4em;

}

.name-testimonial {
	color: #0068A3;
}

.img-test {
	height: 180px;
	width: 180px;
}

.img_institucion {
	padding: 2em;
}

@media screen and (max-width:640px) {
	.per {
		padding: 4em;
	}
}

/*emprendedores*/

.padi_emprendedor {
	padding-top: 3.1em;
	padding-bottom: 2.5em;

}

.color_write {
	color: #fff;
}

.color-title {
	color: #181B32;
}

.color_btn_writ {
	color: #0068A3;
}

.backgro_empren1 {
	background-color: #0068A3;
	background-image: url("../img/background/backgroud1.jpg");
	background-position: center center;

	background-size: cover;
	height: 620px;
}

.backgro_empren2 {
	background-color: #0E5F8C;
	background-image: url("../img/background/background2.jpg");
	background-position: center center;

	background-size: cover;
	height: 620px;
}

.paddig_emprendedor {
	padding: 0 2em 2em;
}

.btn_padding {
	font-size: 20px;
}

.cont_emprendedor {
	background: #004760;
}

.text_emprended {
	margin-top: .5em;
}

.ver_lispro:hover {
	color: white;
}

/*nav*/
.nav_color {
	color: #2b548e;
}

/*recursos*/

.contenedor_recursos {
	margin-top: 4em;
}

.titul_recursos {
	padding-bottom: .3em;
	padding-top: 1em;

}

.sect_recursos {
	padding: 0;
}

.img_recursos {
	padding-top: 1em;
	padding-bottom: 2em;
}

.contenido_recursos {
	padding: 0 1em;
	background: #0E5F8C;
}

.row_recursos {
	padding-top: 4em;
}

.li_recurso1 {
	background: #283593;
	padding: 1em 3.9em 1em 3.4em;
	margin-bottom: .8em;
}

.li_recurso2 {
	background: #6A1B9A;
	padding: 1em 4.4em 1em 3.9em;
	margin-bottom: .8em;
}

.li_recurso3 {
	background: #D500F9;
	padding: 1em 3.9em 1em 3.4em;
	margin-bottom: .8em;
}

.li_recurso4 {
	background: #FF4081;
	padding: 1em 3.8em 1em 3.3em;
	margin-bottom: .8em;
}

.li_recurso5 {
	background: #F44336;
	padding: 1em 3.7em 1em 3.2em;
	margin-bottom: .8em;
}

.ul_recrso {
	border-bottom: .4em solid #283593;
}

.img_recurso {
	margin-top: 2em;
	margin-bottom: 2em;
}

.buton_ingre {

	margin-left: 2em;
}

.padd_recur {
	padding-bottom: 3em;
}

/*formulario proyecto*/

/*

input[type="checkbox"] {
    /*display:none;
}

input[type="checkbox"] + label {
    color:#f2f2f2;
}

input[type="checkbox"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) left top no-repeat;
    cursor:pointer;
}

input[type="checkbox"]:checked + label span {
    background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -19px top no-repeat;
}

input[type="radio"] {
   /* display:none;
}

input[type="radio"] + label {
    color:#333;
    font-family:Arial, sans-serif;
}

input[type="radio"] + label span {
    display:inline-block;
    width:19px;
    height:19px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -38px top no-repeat;
    cursor:pointer;
}

input[type="radio"]:checked + label span {
    background:url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/210284/check_radio_sheet.png) -57px top no-repeat;
}

*/

.div_linkedin {
	text-align: center;
}

.form_textimportant {
	margin: 20px auto;
	max-width: 700px;
	font-size: 20px;
	text-align: center;
	width: 100%;
	font-weight: 600;

}

.form-respuesta2 {

	background: #dbdbdb !important;
	padding: 10px 20px;
	color: #888;
	height: 50px !important;
	/*overflow: hidden;*/
	border: 1px solid #aaa;
	box-sizing: border-box !important;
	border: none;
	border-radius: 5px;
}

.form-respuesta {

	background: #dbdbdb !important;
	padding: 1.2em;
	color: #000;
	box-sizing: border-box !important;
	overflow: hidden;
	border: none;
	border-radius: 5px;
}

/*FORM DE REGISTRA PROYECTA STYLE*/

.bg-form {
	background: #f0f0f0;
	padding: 30px;
	margin: 40px auto;
	border-radius: 5px;
	/*box-shadow: 10px 10px 10px 1px rgba(218, 212, 212, 0.82)*/

}

/*.md-form label {
position: absolute;
left: 30px;
top: -4px;}*/

.cv-link {
	background: #474646;
	color: #fff;
	padding: 30px !important;
	border-radius: 5px;
	text-align: center;
}

/*CIERRE DE REGISTRA TU PROYECTO*/

.fond_prouecto {
	background: #2b548e;
}

/*aliados*/

.li_aliados {
	background: #0E5F8C;
	padding-right: 8em;
	padding-top: .6em;
	padding-left: .4em;
}

.li_aliados1 {
	background: #004760;
	padding-right: 8em;
	padding-top: .6em;
	padding-left: .4em;
}

.nav_aliados {
	background: red;
}

.nav_aliados {
	background: red;

}

.position_nav {
	margin-top: -3.5em;
}

.padi_index1 {
	padding-top: 4em;
	padding-bottom: 4.6em;
}

.color_nav_ali {
	background: #707070;
}

/*detalles de mi proyecto*/
.titulo_detalles {
	padding: 1em 0;
}

/*detalles de eventos*/
.descripcion_event {
	margin-top: 1.8em;
}

.fon_aside {
	-moz-box-shadow: 0 0 3px #888;
	-webkit-box-shadow: 0 0 3px#888;
	box-shadow: 0 0 3px #888;
	background-color: #eee;
}

.titulo_pading {
	padding: 1em 0;
}

.descri_event {
	box-shadow: 2px 2px 8px #999;
	margin-bottom: 1.5em;
	background: #F5F5F5;
}

.descri_event1 {
	padding: .5em;
}

.fac_event {
	margin-right: 1em;
}

.event-marg {
	padding-right: .5em;
	color: red;
	margin-bottom: 1em;
}

.p_evento {
	padding-left: 1.7em;
}

.evt_costo {
	color: green;
	font-size: 22px;
}

.event-marg1 {
	padding-right: .5em;
	color: red;
	margin-bottom: .5em;
	margin-left: .5em;
}

.cont_evt {
	margin-bottom: 3em;
}

.fond_mes {
	background: #424242;
}

.text_fecha {
	font-size: 30px;
}

.fond_dia {
	background: #fff;
}

.contenido_desing {
	background: #F5F5F5;
}

.pading_desing {
	padding: 2em 1em;
	text-align: right;
}

.descarga_desing {
	padding-right: 2.4em;
}

.p1 {
	position: relative;
}

.p2 {
	position: absolute;
	bottom: 15px;
	right: 10px;
	box-shadow: 1px 10px 20px 4px rgba(52, 58, 64, 0.53);

}

/*inscripcion eventos*/
.bg_evento {
	background-color: #0068a3;
}

/*facilitadores*/
.description {
	border: 1px solid #0a8bb2;

}

.nomb1 {
	font-size: 22px;
	text-align: center;
	font-family: Roboto-Regular.ttf;
}

.cat1 {
	font-size: 16px;
	text-align: center;
	font-family: Roboto-Regular.ttf;

	padding-bottom: 4.5em;
}

.col_facilit {
	margin-left: 1em;

}

.paddin_cero {
	padding: 0;

}

.cont_facilit {
	margin-top: 2em;

}

/*Responsive-WEB*/
@media (max-width: 700px) {
	.bg-registrap {
		padding: 0;
	}
}

/*contacto pleglabe*/
.whatsap {
	position: fixed;
	bottom: 0;
	right: 5%;
	z-index: 1;
	padding: 0;
	margin: 0;

}

.btn-escribir {
	background-color: #004138;
}

.img-whtsap {
	width: 12%;
}

@media screen and (max-width:640px) {
	.whatsap {
		right: 10%;
		left: 15%;
	}

}

/*------blog----*/
.img-blog {
	height: 30px;
	width: 30px;
}

.text-avatar {
	font-size: 13px;
}

.menu-blog {
	padding: 0;
}

.menu-blog li {
	list-style: none;
}

/*------detail blog----*/

h6.blog-first {
	font-weight: 400;
	font-size: 20px;
	letter-spacing: 1px;
}

h6.blog-first i {
	color: #42a5f5;
}

ul.blog_list li {
	display: inline-block;
	color: #777;
}

h5.card-title a:hover,
ul.blog_list.my-3 li a:hover {
	color: #000 !important;
}

ul.blog_list.my-3 li {
	font-size: 15px;
}

h5.card-title a {
	font-size: 24px;
	letter-spacing: 1px;
}

a.blog-button {
	background: #353535;
	border: none;
	font-size: 14px;
	padding: 11px 22px;
	letter-spacing: 1px;
}

a.blog-button:hover {
	background: #42a5f5;
}

/*Search*/
.container-1 {
	position: relative;
}

.container-1 .icon1 {
	position: absolute;
	left: 2.3em;
	top: .8em;
	z-index: 1;
	color: #533259;
}

.container-1 .search {
	height: 50px;
	background-color: #e8e8e8;
	border: none;
	font-size: 15px;
	color: #533259;
	padding-left: 4em;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

/*-- stats --*/
.about {
	background: url("../img/nosotros/bann3.jpg") no-repeat 0 0;
	background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	background-attachment: fixed;
	background-position: bottom-right;
	padding: 5em 0;

}

.about-main {
	background: #2b548e;
	padding: 3em;
	width: 50%;
}

/* about */
.bb-left {
	border-right: 1px solid #b1b1b1;
}

.w3-ab-grid {
	border: 1px solid #d4d4d4;
}

.w3-aicon i {
	color: #fe3b30;
	font-size: 2em;
}

/* about */

/*-- team --*/

.thumbnail.team-w3agile img {
	margin: 0 auto;
	width: inherit;
	width: 100%;
}

.team-grids {
	padding: 0 !important;
}

.team-grids:nth-child(2),
.team-grids:nth-child(4) {
	padding-top: 5em !important;
}

.thumbnail.team-w3agile {
	position: relative;
	overflow: hidden;
}

.thumbnail {
	padding: 4px;
	border: none;
	border-radius: 0;
	margin-bottom: 0;
}

.thumbnail.team-w3agile h4 {
	font-size: 1.5em;
	font-weight: 500;
	color: #fff;
	text-transform: capitalize;
	letter-spacing: 1px;
}

.caption p {
	font-size: 15px;
	color: #fff;
	letter-spacing: .6px;
	margin: 4px 0 11px;
}

.team-info {
	position: absolute;
	bottom: -227px;
	margin: 4px;
	left: 0;
	background: rgba(0, 0, 0, 0.59);
	border-top: 5px solid #2b548e;
	padding: 1em;
	-webkit-transition: .5s all;
	transition: .5s all;
	-moz-transition: .5s all;
	width: 97.3%;
	text-align: center;
}

.thumbnail.team-w3agile:hover div.team-info {
	bottom: 0;
}

.thumbnail.team-w3agile:hover {
	border-color: #fdbd10;
}

.thumbnail .caption {
	padding: 0;
}

/*-- //team --*/
/*-- login --*/
.alert-error {
	color: #721c24;
	background-color: #f8d7da;
	border-color: #f5c6cb;
}

.active {
	color: #000000;
}

.active-login {
	display: none;
}

.bg-registro {
	background-color: #f2eff3;
	height: 100vh;
}

.opcion1 {
	display: none;
}

.archivio {
	display: none;
}

/*-- --*/
.lh-1 {
	line-height: 1.2;
}

.metropoli {
	font-family: metropoli;
}

.index-enlace {
	list-style: none;
	display: inline-block;
}

.index-enlace li:hover {
	background-color: #2b548e;
	cursor: pointer;
}

.index-enlace li:hover p {
	color: #fff;
}

.pd-l {
	padding: 1em 2.5em;
}

.line1 {
	border-bottom: solid 1px #2f3b40;
	padding-bottom: .3em;
}

.line2 {
	border-bottom: solid 2px #2f3b40;
	padding-bottom: .2em;
}

.view .md-form label {
	color: #fff !important;
	font-size: 18px;

}

.md-lab {
	padding-left: 5em;
}

.img-index {
	height: 40%;
}

.yt {
	display: flex;
	align-items: center;
}

.color-logo {
	background-color: #f7f7f7;
}

.dropdown-toggle::after {
	display: none !important;
}

.height-logo {
	height: 60px;
}

.activ {
	border-bottom: solid #0a8bb2;
}

/*index*/
.div-acce a {
	padding: .6em 1.2em;
}

.div-acce a:hover i,
.div-acce a:hover span {
	color: white;
	transition: .3s;
}

.div-acce a:hover {
	background-color: #2b548e;
	color: white;
}

.div-acce a:hover span {
	border: none;
}

/* .div-acce a:hover {
	display: none;
} */

.index-enlace li:hover {
	background-color: #2b548e;
	cursor: pointer;
}

.index-enlace li:hover p {
	color: #fff;
}

.con-mas {
	padding: .9em 2em;
}

.con-mas:hover {
	background-color: #2b548e;
}

.con-mas:hover span {
	border: none;
	color: white;
}

.con-mas:hover i {
	color: white;
}

.cont-mas:hover i {
	color: #2b548e;
}

.cont-mas {
	padding: .8em 1.8em;
}

.cont-mas:hover {
	background-color: white;
	color: #2b548e;
}

.color-grey2 {
	color: #2f3b40 !important;
}

.color-grey2:hover {
	color: #2f3b40 !important;
}

.color-footer {
	background-color: #fafbfc;
}

.base {
	position: relative;
}

.bloque {
	position: absolute;
	top: 80%;
	left: 60%;
}

.box-banner {
	width: 100%;
	background-position: center;
	background-size: cover;
}

.box-banner .container {
	padding-top: 8rem;
	padding-bottom: 8rem;
}

.box-banner .container h1 {
	max-width: 670px;
	font-size: 60px;
	text-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

.home-cursos .nav-tabs .nav-link {
	border: 0;
}

.home-cursos .card {
	box-shadow: 0px 2px 4px rgba(213, 212, 212, 0.8);
}

.home-cursos .card:hover {
	box-shadow: 0px 8px 16px rgba(213, 212, 212, 0.8);
}

.home-cursos .card-title {
	overflow: hidden;
	margin-bottom: 1.5rem;
	height: 56px;
}

.home-cursos .card-title a {
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

.home-cursos .btn.c-r {
	color: #335078 !important;
}

.perfil-testimonial {
	display: flex;
	justify-content: center;
	align-items: center;
}

.perfil-testimonial hr {
	border: none;
	position: absolute;
	margin: 0;
}

.perfil-testimonial hr.top-left {
	top: -1px;
	left: 0;
	width: 1rem;
	height: 1px;
}

.perfil-testimonial hr.right-bottom {
	right: -1px;
	bottom: 0;
	width: 1px;
	height: 1rem;
}

.comment-testimonial hr {
	border: none;
	height: 1px;
	background-color: #335078;
}

.bg-dark .container h1 {
	font-size: 52px;
	text-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15);
}

.base1 {
	position: relative;
}

.bloque1 {
	position: absolute;
	top: 10%;
	left: 14%;
}

.row-footer {
	display: flex;
}

.col-footer {}

/*responsi*/
@media (min-width: 200px) and (max-width: 767.98px) {
	.bloque {
		top: 74%;
		left: 2%;
	}

	.box-banner .container {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.box-banner .container h1 {
		font-size: 42px;
		line-height: 51px;
		text-align: center;
	}

	.xs-resize {
		font-size: 24px !important;
	}

	.xs-resize-p {
		font-size: 20px !important;
	}

	.bloque1 {
		top: 5%;
		left: 3%;
	}

	.pd-l {
		padding: 1em;
	}

	.md-lab {
		padding-left: 3.3em;
	}

	.col-footer2 {
		order: -1;
	}

	.col-footer1 {
		order: 1;
	}
}

@media (min-width: 768px) and (max-width: 991.98px) {
	.bloque {
		left: 10%;
		top: 80%;
	}
}

h1 {
	border: none;
	text-decoration: none;
}

.md-form1 input[type=text]:focus:not([readonly]) {
	box-shadow: 0 1px 0 0 white !important;
	border-bottom: solid 1px white !important;
}

.bt-red {
	background-color: blue;
}

/*detalle cursos*/
.parr1 {
	/* -webkit-mask-image: -webkit-gradient(linear, left 50%, left bottom, from(rgba(0,0,0,1)), to(rgba(0,0,0,0))) */
}

.md-accordion .card .card-header a:not(.collapsed) .rotate-icon {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
	display: block;

}

.lista1 .li1 {
	list-style-image: url("../img/img-cursos/online.png");
}

.lista1 li {
	margin-left: 1.6em;
}

.card-curso:hover {
	-webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.18);
	-moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.18);
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.18);
}

.h {
	-webkit-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.18);
	-moz-box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.18);
	box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.18);
	border-left: solid .3em blue;
	border-radius: 5px;
	margin: 0 .05px;
}

.color-hover {
	color: black;
}

/*curso*/
.cab {
	background-color: white;
	box-shadow: 0 .4em 2px -2px #FF8B8B;

}

@media screen and (max-width:640px) {
	#sticky {
		position: static;
	}
}

.contenido p {
	font-family: montserrat-regular;
	font-size: 15px;
}

/*clases*/
.item-modulo:hover {
	color: blue;
}

.item-modulo {
	color: teal;
}

.clase p {
	color: black !important;
	font-family: montserrat-regular !important;
	font-size: 12px;
	padding-bottom: .8em;

}

/*aliados*/
.pl::placeholder {
	color: #73738D;
}

.buscador {
	position: relative;
}

.buscador .icon2 {
	position: absolute;
	left: 2.3em;
	top: .6em;
	z-index: 1;
	color: #73738D;
}

.buscador .search1 {
	height: 40px;
	background-color: #F4F4F4;
	border: none;
	font-size: 10px;
	color: #533259;
	padding-left: 5em;
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
}

.table-aliados {
	border: none;
}

.table-round thead th:first-child {
	border-radius: 5em 0 0 5em;
}

.table-round thead th:last-child {
	border-radius: 0 5em 5em 0;
}

.title-wrap {
	word-wrap: break-word;
}

p .color-blog {
	background-color: blue !important;
	font-family: montserrat-bold !important;

}

.single-left1 p {
	line-height: 2em;
	font-family: montserrat-regular !important;
	font-size: 16px;
	text-align: justify;
}

/*blog*/
.bloque-blog {
	position: absolute;
	top: 40%;
	left: 5%;
}

@media (min-width: 200px) and (max-width: 767.98px) {
	.bloque-blog {
		top: 35%;
		left: 15%;
	}
}

.bloque-blog1 {
	position: absolute;
	top: 40%;
	left: 5%;
}

@media (min-width: 200px) and (max-width: 767.98px) {
	.bloque-blog1 {
		top: 35%;
		left: 25%;
	}
}

/* landing AIE */
.first-panel {
	height: 100vh;
}

@media (max-height: 674px) {
	.first-panel {
		height: 675px;
	}

	@media (max-width: 767px) {
		.first-panel {
			height: 514px;
		}
	}
}


.box-title-evento {
	width: 100%;
	max-width: 576px;
	margin: 0 auto;
}

.box-title-evento hr {
	width: 50px;
	height: 1px;
	background-color: white;
	margin: 0;
}

.btn.c-r,
.lista i {
	color: #335078 !important;
}

.information {
	display: flex;
	flex-direction: column;
	justify-content: center;
	border: 18px solid #335078;
	box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .15) !important;
}

.contenido-title {
	position: relative;
}

.contenido-title hr {
	width: 100%;
	height: 2px;
	background-color: #E0E0E0 !important;
	margin: 0;
}

.contenido-title .hr-absolute {
	position: absolute;
}

.contenido-title .hr-absolute:first-child {
	left: -100%;
}

.contenido-title .hr-absolute:last-child {
	right: -100%;
}

/* Landing DTD */
.custom-control-input:checked~.custom-control-label.red-hero::before {
	background-color: #335078;
}