/*------detail blog----*/

ul.blog_list li {
	display: inline-block;
	color: #777;
}

h5.card-title a:hover,
ul.blog_list.my-3 li a:hover {
	color: #000 !important;
}

ul.blog_list.my-3 li {
	font-size: 15px;
}

h5.card-title a {
	font-size: 24px;
	letter-spacing: 1px;
}

/*Buscador*/

.container-1 {
	position: relative;
}

.container-1 .icon1 {
	position: absolute;
	left: 2.3em;
	top: .8em;
	z-index: 1;
	color: #533259;
}

.container-1 .search {
	height: 50px;
	background-color: #e8e8e8;
	border: none;
	font-size: 15px;
	color: #533259;
	padding-left: 4em;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.active {
	color: #000000;
}

.pd-l {
	padding: 1em 2.5em;
}

.line1 {
	border-bottom: solid 1px #2f3b40;
	padding-bottom: .3em;
}

.line2 {
	border-bottom: solid 2px #2f3b40;
	padding-bottom: .2em;
}

.view .md-form label {
	color: #fff !important;
	font-size: 18px;

}

.dropdown-toggle::after {
	display: none !important;
}

.activ {
	border-bottom: solid #0a8bb2;
}

/*responsi*/

h1 {
	border: none;
	text-decoration: none;
}

/*curso*/

@media screen and (max-width:640px) {
	#sticky {
		position: static;
	}
}

/*aliados*/
.pl::placeholder {
	color: #73738D;
}

.buscador {
	position: relative;
}

.buscador .icon2 {
	position: absolute;
	left: 2.3em;
	top: .6em;
	z-index: 1;
	color: #73738D;
}

.buscador .search1 {
	height: 40px;
	background-color: #F4F4F4;
	border: none;
	font-size: 10px;
	color: #533259;
	padding-left: 5em;
	-webkit-border-radius: 10em;
	-moz-border-radius: 10em;
	border-radius: 10em;
}