/* Raiz */

:root {
	--color-brow1: #2f3b40;
	--color-purple: #662d91;
	--color-cherry: #e72124;
	--color-blue: #335078;
	--color-gris: #BDBDBD;
	--color-gray3: #828282;
  --blue1:#1a8cdd;
  --blue2:#4E8092;
  --blue3:#94BFCA;
  --white:white;
  --image: url("../img/banner-pagina.png");
}

/* Fuentes */

@font-face {
  font-family: montserrat-bold;
  src: url('../font/monserrat/Montserrat-Bold.ttf');
}

@font-face {
  font-family: montserrat-regular;
  src: url('../font/monserrat/Montserrat-Regular.ttf');
}

Montserrat-Medium.ttf @font-face {
  font-family: montserrat-medium;
  src: url('../font/monserrat/Montserrat-Medium.ttf');
}

.f-mont {
	font-family: montserrat-bold;
}

.f-mont-r {
	font-family: montserrat-regular;
}

.f-mont-m {
	font-family: montserrat-medium;
}

/* Colores */

.gris3{
  color: #767676;
}
.c-gris{
  color: var(--color-gris);
}
.color-blue1{
  color: #004760;
}
.blue1{
  color: var(--blue1);
}
.color-p{
  color: #a0a4ab;
}
.title-banner{
  color: #00c6ff;
}
.p-banner{
  color: #dedfdf;
}
.bg-color{
  background-color: #f9f9f9;
}
.bg-color1{
  background-color: #f5f5f5;
}
.color-blue2 {
	color: #0068A3;
}
.color_white {
	color: #fff;
}
.color_black {
	color: #212121;
}
.color-lead {
	color: #8D8D9D;
}
.color-grey {
	color: #2f3b40;
}
.bd-gris {
	border: solid 1px #ced4da;
}
.c-gray {
	color: var(--color-gray3);
}
.c-r {
	color: var(--color-blue);
}

/* Tamaños de fuentes */

.fw700{
  font-weight: 700;
 }
 .fw500{
  font-weight: 500;
 }
 .fw400{
  font-size: 90%;
  font-weight: 400;
 }
 .fw900{
  font-weight: 900;
 }
 .text-avatar{
  font-size: 12px;
}
.size12 {
	font-size: 12px;
}

.size13 {
	font-size: 13px
}

.size14 {
	font-size: 14px;
}

.size15 {
	font-size: 15px;
}

.size18 {
	font-size: 18px;
}

.size19 {
	font-size: 19px;
}

.size20 {
	font-size: 20px;
}

.size21 {
	font-size: 21px;
}

.size22 {
	font-size: 22px;
}

.size30 {
	font-size: 30px;
}

.size44 {
	font-size: 44px;
}

.size36 {
	font-size: 36px;
}

.size50 {
	font-size: 50px;
}

.size24 {
	font-size: 24px;
}

.size28 {
	font-size: 28px;
}
.zise_font {
	font-size: 15px;
}
.pb-5r {
	padding-bottom: 4rem;
}

.pt-5r {
	padding-top: 4rem;
}

.mt-lg {
	margin-top: 6em;
}

.mt-lg1 {
	margin-top: 7em;
}

.l-sp1 {
	letter-spacing: 0.44px;
}

.pt-lg {
	padding-top: 10em;
}

/* Dimencionamiento */

.paddin_lef {
	padding-left: 2em;
}

.margin_botton {
	margin-bottom: 3em;
}

.margin_botton2 {
	margin-bottom: 2em;
}

.margin_botton1 {
	margin-bottom: 1em;
}

.margin_botton3 {
	margin-bottom: 0.6em;
}

.mb-6 {
	margin-bottom: 6em;
}
.pd-g1 {
	padding: 1.5em 1em 1.5em 1em;
}

.pt-6 {
	padding-top: 6em;
}

.marg5 {

	margin-bottom: 1em;
	margin-top: 3em;
}

.marg1 {
	margin-bottom: 1em;
}

.marg2 {
	margin-bottom: 2em;
}

/* Listas */

.categoria li {
    list-style: none;
}

/* Links */

a:link 
{ 
text-decoration:none; 
}

/* Generales */

header {
  width: 100%;
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}
b,
strong {
	font-weight: bold !important;
}
.center {
	display: flex;
	align-items: center;
}

.center_text {
	text-align: left;
}
.rounded-circle {
  border-radius: 50% !important;
}
.menu .menu-nav {
  padding: 0;
  margin: 0;
}
.buscador{
  margin-right: 14em;
}

.pt-general{
  margin-top: 2.3em;
}
.cy-blog{
  margin-top: auto;
  margin-bottom: auto;
}
.pd-gblog{
  padding: 0.3em;
}
.pd-lblog{
 padding-left: 1.2em;
}
.pt-lg{
  padding-top: 6em;
}
.mg-l{
  padding-left: 5em;
}
.vert-banner{
  background: ;
}
.centerv{
  display: flex;
  align-items: center;
}
ul.blog_list li {
  display: inline-block;
  color: #777;
}
ul.blog_list.my-3 li a:hover,
h5.card-title a:hover {
  color: #000 !important;
}
ul.blog_list.my-3 li {
  font-size: 16px;
}
h5.card-title a {
  font-size: 24px;
  letter-spacing: 1px;
}
.card1 {
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 0.25rem;
	-webkit-box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.07);
	-moz-box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.07);
	box-shadow: 0px 0px 38px 0px rgba(0, 0, 0, 0.07);
}

/* Buscador */

.container-1{
  position: relative;
}
.container-1 .icon{
  position: absolute;
  left: 1em;
  top: 1.4em;
  z-index: 2;
  color: #00c6ff;
}
.container-1 .icon1{
  position: absolute;
  left: 1.8em;
  top: 0.4em;
  z-index: 2;
  color: #533259;
}
.container-1 .search{
  height: 35px;
  width: 100%;
  background-color: #FAFAFA;
  font-size: 16px;
  color: #533259;
  padding-left: 3em;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; 
}

/* Index */

.img-banner{
  background-image: var(--image);
  background-repeat: no-repeat;
  background-position: right;
  clip-path: circle(65% at 60% 50%);
  height: 355px;
}
.banner{
background-color: #2b3034;
border-bottom: 2px solid #00c6ff;
}
.contenedor-banner{
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* Avatar del blog*/

.avatar-blog{
  height: 40px;
  width: 40px;

}

/* Footer */

footer {
  background-color: #fafbfc;
  text-align: center;
}

.fond_footer{
  background-color: #2d3546;
}

.footer_icon{
  color: white;
  margin-right: 1em;
}

.Fields {
  background-color: var(--white);
  border: 2px solid rgba(255, 255, 255, 0.28);
  font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
  font-size: 10px;
}

/*-- Equipo --*/
  
.team_grid_info h3 {
    font-size: 1.2em;
    color: #222;
    margin: 1.5em 0 0.5em 0;
    font-weight: 600;
}

.team_grid_info p {
    color: #b7b6b6;
    font-size: 1em;
}

ul.team_icons li {
  display: inline-block;
  margin-right: 1em;
}

.team_grid ul li:last-child {
  margin: 0;
}

.team_grid_info {
    text-align: center;
    padding: 0;
    -webkit-transition: 0.5s ease-in;
    -moz-transition: 0.5s ease-in;
    -ms-transition: 0.5s ease-in;
    -o-transition: 0.5s ease-in;
    transition: 0.5s ease-in;
    border: 1px solid #ddd;
    padding: 2em 2em;
    background: #f5fbf6;
}

.team_icons ul li {
  list-style: none;
  display: inline-block;
  margin-right: 10px;
}

.team_icons ul li a i {
  height: 32px;
  width: 32px;
  background: none;
  line-height: 31px;
  color: #222;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -o-transition: 0.5s all;
  -ms-transition: 0.5s all;
  border: 1px solid #24262d;
      border-radius: 5px;
}
.team_icons ul li a i:hover {
    color: #f97c69;
    border: 1px solid #f97c69;
}

.team_grid_info img {
  margin: 0 auto;
  text-align: center;
  border-radius: 15px;
}
.team_icons ul {
    margin-top: 1em;
}
.ab_info img{
  width:100%;
}
.ab_info h4 {
    margin-top: 1em;
    font-size: 1.4em;
    font-weight: 600;
    color: #7f67f8;
}
p.sub_p {
    margin: 1.2em 0 0;
}
section.mid_slider {
    padding: 5em 0;
}

/* Menu */

a:active,
a:hover {
  outline: 0;
}
body {
  line-height: 1.42857143;
  color: #333333;
  background-color: #ffffff;
  margin: 0;
  font-weight: 300;
  font-family: montserrat-regular;
  padding-top: 3.6rem;
  overflow-x: hidden;
}
a {
  color: #767676;
  text-decoration: none;
  background: transparent;  
}
a, .navbar-toggle,.dpgable-menu{
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; 
}
a:hover,
a:focus {
  color: #063847;  
}
a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.collapse {
  display: none;
}
.collapse.in {
  display: block;
}
.dpgable {
  position: relative;
}
.dropdown-toggle:focus {
  outline: 0;
}
a:hover,
a:focus {
  color: #063847;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.collapse {
  display: none;
}

.collapse.in {
  display: block;
}

.dpgable {
  position: relative;
}

.dropdown-toggle:focus {
  outline: 0;
}

.dpgable-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  visibility: visible;
  padding: 5px 0;
  margin: 2px 0 0;
  display: none;
  list-style: none;
  font-size: 14px;
  background-color: white;
  border: solid #edeeef 2px;
  border-radius: 0 0 0 4px;
  background-clip: padding-box;
}

.dpgable-menu .dpgable-menu {
  min-width: 160px;
  padding: 0;
  display: none;
  margin: 2px 0 0 40px;
  list-style: none;
  font-size: 14px;
  opacity: 0;
  background-color: #004760;
  border-radius: 0 0 0 4px;
  background-clip: padding-box;
}

.dpgable-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #0e6e8c;
}
.dpgable-menu > li {
  position: relative;
}
.dpgable-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  color: #fff;  
  line-height: 1.42857143;
  white-space: nowrap;
  text-decoration: none;
}
.dpgable-menu > li > a:hover,
.dpgable-menu > li > a:focus,
.dpgable-menu > .active > a,
.dpgable-menu > .active > a:hover,
.dpgable-menu > .active > a:focus {      
  background: #0e6e8c;
  color: #fff;
}
.open > .dpgable-menu {  
  display: block;
  opacity: 1;
}
.menu {
  min-height: 52px;
  background-color: white;
}
.menu-collapse {
  max-height: 340px;
  overflow-x: visible;
  padding-right: 15px;
  padding-left: 15px;
  border-top: 1px solid transparent;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  -webkit-overflow-scrolling: touch;
}
.menu-collapse.in {
  overflow-y: auto;
}

.navbar-toggle {
  position: relative;
  float: right;
  margin-right: 15px;
  padding: 9px 10px;
  margin-top: 8px;
  margin-bottom: 8px;
  background-color: transparent;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}
.navbar-toggle:focus {
  outline: none;
}
.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}
.navbar-toggle .icon-bar + .icon-bar {
  margin-top: 4px;
}
.menu-nav {
  margin: 7.5px -15px;
  list-style: none;
  padding-left: 0;
}
.navbar-nav > li {
  position: relative;
  display: block;
}
.nav-link:not(.active) {
	color: #6c757d !important;
}
.nav-link.active {
	color: #335078 !important;
}
.nav-link{
  margin-left: 1em;
}
.menu-nav > li > a {
  position: relative;
  display: block;
  padding: 10px 15px;
  line-height: 20px;  
  overflow: hidden;
  text-align: center;
  text-decoration: none;
}
.menu-nav > li > .dpgable-menu {
  margin-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

  .menu .menu-nav > li > a:hover,
.menu .menu-nav > li > a:focus {
  background-color: transparent;
  color: #1a8cdd;
  -webkit-box-shadow: 0 -25px 0 #f8f8f8 inset, 0 25px 0 #f8f8f8 inset, 100px 0 0 #f8f8f8 inset, -100px 0 0 #f8f8f8 inset;
}

.menu .menu-nav > .active > a,
.menu .menu-nav > .active > a:hover,
.menu .menu-nav > .active > a:focus {
  color: #fff;
  background-color: #063847;
}
.menu .navbar-toggle {
  border-color: #767676;  
}
.menu .navbar-toggle:hover,
.menu .navbar-toggle:focus {
  background-color: var(--blue1);
  border-color: #767676;
}
.menu .navbar-toggle .icon-bar {
  background-color: #767676;
}
/*reset*/

button{
  overflow: visible;
  text-transform: none;
  -webkit-appearance: button;
  cursor: pointer;
}
button::-moz-focus-inner{
  border: 0;
  padding: 0;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.clearfix:before,
.clearfix:after,
.navbar-header:before,
.navbar-header:after,
.nav:before,
.nav:after,
.navbar:before,
.navbar:after,
.navbar-collapse:before,
.navbar-collapse:after {
  content: " ";
  display: table;
}
.clearfix:after,
.navbar-header:after,
.nav:after,
.navbar:after,
.navbar-collapse:after {
  clear: both;
}
@-ms-viewport {
  width: device-width;
}
.img-logo{
 width: 120px;
}
.pt-s{
  padding-top: 0.4rem;
}
.card-title{
  color: var(--blue1);
}
/*categorias*/
.categoria{
  display: flex;
}
.categoria li{
 list-style: none;
  padding: 3px;
  margin-right: 0.6rem;
  background-color: #004e92;
}

h1{
  text-decoration: none;
  border: none;
}

/* Responsive */

@media (max-width: 992px) {
  .pt-sm-8{
    padding-top: 4rem;
  }
}

@media only screen and (max-width: 768px) {
  .img-banner{
    display: none;
  }
  .mg-l{
    padding-right: 5em;
    padding-top: 2em;
    padding-bottom: 2em;
  }
}

@media (min-width: 1400px) {
  .contenedor-banner {
    max-width: 1140px;
  }
}
@media (min-width: 768px) {
  .dpgable-menu {    
    top: 200%;
    left: 0;    
    visibility: hidden;
    float: left;
    display: block;
    min-width: 160px;
    padding: 5px 0;    
    opacity: 0;
  }
  .dpgable-menu:before{
    content: "";
    position: absolute;
    top: -20px;
    left: 30%;
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent #063847 transparent;
  }  
  .dpgable-menu .dpgable-menu {    
    top: -3px;
    left: 120%;
    display: block;
    float: left;
    z-index: 1000;
    margin: 2px 0 0;
    visibility: hidden;
    opacity: 0;
  }
  .dpgable-menu .dpgable-menu:before{
    content: "";
    position: absolute;
    top: 5px;
    left: -20px;
    border-style: solid;
    border-width: 10px;
    border-color: transparent #0e6e8c transparent transparent;
  }
  .dpgable:hover > .dpgable-menu {
    opacity: 1 ;
    top: 100% ;    
    visibility: visible ;
  }
  .dpgable-menu .dpgable:hover > .dpgable-menu {
    opacity: 1;  
    top: -3px;
    left: 100%;
    padding: 5px 0;
    visibility: visible;
  }
  .navbar-right .dpgable-menu {
    left: auto;
    right: 0;
  }  
  .navbar-right .dpgable-menu:before{
    content: "";
    position: absolute;
    top: -20px;
    left: auto;
    right: 30%;
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent #063847 transparent;
  } 
  .navbar-header {
    float: left;
  }
  .menu-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
  }
  .menu-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }
  .menu-collapse.in {
    overflow-y: visible;
  }
  .navbar-fixed-top .menu-collapse,
  .navbar-static-top .menu-collapse,
  .navbar-fixed-bottom .menu-collapse {
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-toggle {
    display: none;
  }
  .menu-nav {
    float: left;
    margin: 0 !important;
  }
  .menu-nav > li {
    float: left;
  }
  .menu-nav > li > a {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }
  .menu-nav.navbar-right:last-child {
    margin-right: -15px;
  }
  .navbar-right {
    float: right !important;
  }
}
@media (max-width: 767px) {
  .menu-nav .open .dpgable-menu{
    position: static;
    float: none;
    width: auto;
    margin-top: 0;    
    border: 0;
    box-shadow: none;
  }
  .menu-nav .open .dpgable-menu > li > a,
  .menu-nav .open .dpgable-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
  }
  .navbar-nav .open .dpgable-menu > li > a{
    line-height: 20px;
  }
  .menu-nav .open .dpgable-menu > li > a:hover,
  .menu-nav .open .dpgable-menu > li > a:focus {
    background-image: none;
  }
}