/**color**/
:root {
	--color-brow1: #2f3b40;
	--color-purple: #662d91;
	--color-cherry: #e72124;
	--color-blue: #335078;
	--color-gris: #BDBDBD;
	--color-gray3: #828282;
}

@font-face {
  font-family: nunito;
  src: url('../font/nunito/Nunito-Light.ttf');
}

@font-face {
  font-family: metropolis;
  src: url('../font/metropoli/Metropolis-Black.otf');
}

@font-face {
  font-family: metropoli;
  src: url('../font/metropoli/Metropolis-Medium.otf');
}

@font-face {
  font-family: metropoli-light;
  src: url('../font/metropoli/metropolis.light.html');
}

@font-face {
  font-family: montserrat-bold;
  src: url('../font/monserrat/Montserrat-Bold.ttf');
}

@font-face {
  font-family: montserrat-regular;
  src: url('../font/monserrat/Montserrat-Regular.ttf');
}

Montserrat-Medium.ttf @font-face {
  font-family: montserrat-medium;
  src: url('../font/monserrat/Montserrat-Medium.ttf');
}

body {
  font-family: montserrat-regular;
  padding-top: 3.6rem;
}

footer {
  background-color: #fafbfc;
  text-align: center;
}

header {
  width: 100%;
  padding: 15px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.25);
}

.content-pay {
  background-color: #F6F6F8;
}

.slogan {
  font-size: 24px;
  line-height: 29px;
  font-family: montserrat-regular;
  color: #9F9F9F;
  display: inline-block;
  float: right;
}

.details-pay {
  padding: 60px;
}

.details-pay h3 {
  font-family: montserrat-bold;
  font-size: 24px;
  line-height: 29px;
  color: #000000;
  margin-bottom: 35px;
}

.details-pay h4 {
  font-size: 16px;
  line-height: 20px;
  font-family: montserrat-bold;
  margin-bottom: 5px;
}

.details-pay .amount {
  color: #00A893;
}

.details-pay .form-inline {
  margin-top: 22px;
}

.details-pay .form-inline label {
  margin-bottom: .5rem;
}

.details-pay .form-inline button {
  border-radius: 0;
}

.details-pay .form-inline input {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.form-pay label,
.payment-table th {
  font-family: montserrat-bold;
  font-size: 12px;
}

.form-pay input:focus {
  outline: 0;
  box-shadow: none;
}

.form-pay .form-group {
  margin-bottom: 0;
}

.form-pay .form-group label {
  margin-top: 30px;
}

.form-pay .row {
  margin-top: 15px;
}

.form-pay .input-group input {
  border-right: 0;
}

.form-pay .input-group-text {
  border-left: 0;
  background-color: #FFF;
}

.btn-pay {
  margin-top: 35px;
  margin-bottom: 12px;
  font-family: montserrat-bold;
  font-size: 16px;
  color: #FFF;
  width: 100%;
  background-color: #00A893;
}

.secure-pay {
  font-family: montserrat-bold;
  font-size: 12px;
  line-height: 15px;
  color: rgba(0, 0, 0, 0.2)
}

.details-course {
  margin-top: 60px;
}

.course-information {
  margin-left: 12px;
}

.course-information h4 {
  font-family: montserrat-bold;
  font-size: 18px;
  line-height: 22px;
  margin-top: 11px;
}

.course-information span {
  font-size: 12px;
  line-height: 15px;
  color: #FF4040;
  font-family: montserrat-bold;
}

.course-information a {
  text-decoration: none;
}

.course-pay {
  margin-top: 21px;
  padding-bottom: 20px;
  border-bottom: 0.5px solid #D3D3D3;
}

.content-amount {
  display: inline-block;
  float: right;

  font-size: 16px;
}

.course-pay .amount-discount {
  color: #00A893;
  font-family: montserrat-bold;
}

.course-pay .amount {
  color: #333;
  font-family: montserrat-regular;
  margin-right: 12px;
  text-decoration: line-through;
  display: none;
}

.details-card h2 {
  color: #00A893;
  font-family: montserrat-bold;
  font-size: 24px;
  line-height: 29px;
  margin-bottom: 20px;
}

.payment-methods {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  margin-bottom: 75px;
  margin-top: 13px;
}

.payment-methods li {
  float: left;
  margin-right: 30px;
}

.payment-table tbody td {
  font-family: montserrat-regular;
  font-size: 15px;
}

.payment-table tbody tr.future-dues {
  color: #D3D3D3;
}


.btn-test {
  background-color: #00A893;
  font-size: 18px;
  text-align: center;
  font-family: montserrat-bold;
  color: #FFF;
  width: 100%;
  padding: 9px 0;
  margin-bottom: 15px;
  padding: .84rem 2.14rem;
  border-radius: .125rem;
  transition: all .2s ease-in-out;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  line-height: 1.5;
  display: inline-block;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, .16), 0 2px 10px 0 rgba(0, 0, 0, .12);
}

.btn-test:hover,
.btn-green:active {
  color: #FFF !important;
}

.tab-content-video {
  padding: 0 15px;
  margin-top: 15px;
}

.tab-content-video .card {
  padding: 15px 13px;
}

.tab-content-video .card-header {
  background-color: #FFF;
  font-size: 15px;
  line-height: 18px;
  color: #333333;
  font-family: montserrat-bold;
  border-bottom: none;
  padding: 0;
}

.tab-content-video .card-header a {
  color: #333333;
  text-decoration: none;
}

.tab-content-video .fa-angle-down {
  color: #00A893;
}

.tab-content-video .card-body {
  padding: 20px 1.25rem 0 1.25rem;
}

.tab-content-video .card-body a {
  color: #333333;
  font-family: montserrat-regular;
  font-size: 12px;
  line-height: 15px;
  margin-left: 11px;
}

ul.tab-course {
  border-bottom: 0.5px solid #BDBDBD;
  margin: 0 15px;
}

.tab-course .nav-link {
  margin-left: 0;
}

.tab-course a.nav-link {
  font-family: montserrat-bold;
  color: #8e8a8a;
}

.tab-course a.nav-link:hover {
  color: #333;
}

.tab-course a.active {
  color: #00A893 !important;
  border-bottom: 2px solid #00A893;
}

.tab-course li {
  width: 50%;
  text-align: center;
}

.tab-course img,
.tab-course .fa-folder {
  margin-left: 3px;
}

.course-test-final {
  margin-left: 15px;
  margin-right: 15px;
}

.rounded-circle {
  border-radius: 50% !important;
}

.account {
  margin-top: 90px;
  margin-bottom: 90px;
}

.about-me .title {
  font-family: montserrat-bold;
}

.about-me h1 {
  font-size: 35px;
  margin-bottom: 0;
  display: inline-block;
}

.about-me .title span {
  font-size: 18px;
  font-family: montserrat-bold;
  float: right;
}

.about-me .title img {
  margin-top: -10px;
}

.about-me span {
  font-family: montserrat-regular;
  color: #BDBDBD;
  font-size: 17px;
  line-height: 22px;
}

.about-me h5 {
  font-family: montserrat-bold;
  color: #676161;
  font-size: 17px;
  margin-top: 31px;
  line-height: 22px;
}

.about-me p {
  line-height: 27px;
  color: #333333;
  font-family: montserrat-regular;
  font-size: 17px;
}

.account-information .nav-tabs .nav-link {
  border: 0;
}

.account-information .nav-tabs .nav-item {
  margin-bottom: 0;
}

.tab-account .nav-link {
  font-family: montserrat-bold;
  color: #261E1E;
  font-size: 18px;
}

.tab-account .nav-link.active {
  color: #335078;
  border-bottom: 3px solid #335078;
}

.account-information {
  background: #F6F6F6;
}

.account-information .tab-account {
  background-color: #FFF;
}

.account-information .nav-tabs {
  border-bottom: 1px solid #C4C4C4;
}

.account-information .col-md-12 {
  padding: 0;
}

.summary {
  padding: 50px 58px;
  background-color: #FFF;
}

.summary h3 {
  font-family: montserrat-bold;
  font-size: 28px;
}

.summary h1 {
  font-family: montserrat-bold;
  font-size: 68px;
}

.summary .card-text {
  font-size: 20px;
}

.list-course .card-body span {
  font-size: 17px;
  color: #676161;
}

.list-course .card-body h3 {
  font-size: 23px;

  color: #261E1E;
}

.list-course .card {
  margin-bottom: 68px;
  border: 0;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.05);
}

.list-course .card-body {
  padding-right: 65px;
  padding-left: 30px;
  font-family: montserrat-bold;
}

.list-course .card-body .btn {
  margin: 0;
  font-size: 17px;
  text-transform: inherit;
  border-radius: 1px;
  padding: 10px 25px;

}

.list-course a.btn-primary,
.list-course button.btn-primary {
  background-color: #0095F6 !important;
}

.list-course a[class*="-dark"],
.list-course button[class*="-dark"] {
  background-color: #6c757d !important;
}

.list-course .card-body .card-text {
  color: #D5D4D4;
  font-size: 17px;
}

.list-course .card img {
  border-radius: 0;
  height: 100%;
  max-width: 100%;
}

#modalProfile .modal-header {
  padding: 0 0 10px 0;
}

#modalProfile .modal-body {
  padding: 20px 0 0 0;
}

#modalProfile .photo span {
  font-size: 18px;
  margin-right: 10px;
}

#modalProfile .modal-body .photo {
  align-items: center;
}

#modalProfile .modal-body .photo button {
  margin-top: 0;
}

#modalProfile .modal-body .photo input[type="file"] {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#modalProfile .modal-body .photo label[for="id_foto"] {
  font-size: 17px;
  color: #fff;
  border-radius: 1px;
  background-color: #335078;
  display: inline-block;
  transition: all .5s;
  cursor: pointer;
  font-family: montserrat-bold;
  padding: .5rem .8rem;
  white-space: nowrap;
  vertical-align: middle;
  width: fit-content;
  text-align: center;
}

#modalProfile .modal-content {
  padding: 25px 56px 60px 56px;
}

#modalProfile .modal-body h3 {
  font-size: 22px;
  margin-bottom: 30px;
}

#modalProfile .modal-body form label {
  font-size: 18px;
  color: #676161;
}

#modalProfile .modal-body .form-group {
  margin-bottom: 30px;
}

#modalProfile .modal-body button {
  margin-top: 30px;
  background-color: #335078;
  border-radius: 1px;
  font-size: 17px;
  font-family: montserrat-bold;
}


/* =========== ESTILOS ANTIGUOS DEL HEADER ================*/
.color-grey {
  color: #2f3b40;
}

.miss {
  font-size: 14px;
  color: #1565c0;
}

.f-ms {
  font-family: metropolis;
}

.text-muted {
  font-family: Roboto-Medium.ttf;
}

.nav1 {
  background: #f9f9f9;
}

.nav-link {
  margin-left: 1em;
}

a:active,
a:hover {
  outline: 0;
}

.menu .menu-nav {
  font-family: helvetica;
  padding: 0;
  margin: 0;
}

a,
.navbar-toggle,
.dpgable-menu {
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  -ms-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s;
}

a:hover,
a:focus {
  color: #063847;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.collapse {
  display: none;
}

.collapse.in {
  display: block;
}

.dpgable {
  position: relative;
}

.dropdown-toggle:focus {
  outline: 0;
}

.dpgable-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  visibility: visible;
  padding: 5px 0;
  margin: 2px 0 0;
  display: none;
  list-style: none;
  font-size: 14px;
  background-color: white;
  border: solid #edeeef 2px;
  border-radius: 0 0 0 4px;
  background-clip: padding-box;
}

.dpgable-menu .dpgable-menu {
  min-width: 160px;
  padding: 0;
  display: none;
  margin: 2px 0 0 40px;
  list-style: none;
  font-size: 14px;
  opacity: 0;
  background-color: #004760;
  border-radius: 0 0 0 4px;
  background-clip: padding-box;
}

@media (min-width: 768px) {
  .dpgable-menu {
    top: 200%;
    left: 0;
    visibility: hidden;
    float: left;
    display: block;
    min-width: 160px;
    padding: 5px 0;
    opacity: 0;
  }

  .dpgable-menu .dpgable-menu {
    top: -3px;
    left: 120%;
    display: block;
    float: left;
    z-index: 1000;
    margin: 2px 0 0;
    visibility: hidden;
    opacity: 0;
  }

  .dpgable-menu .dpgable-menu:before {
    content: "";
    position: absolute;
    top: 5px;
    left: -20px;
    border-style: solid;
    border-width: 10px;
    border-color: transparent #0e6e8c transparent transparent;
  }

  .dpgable:hover>.dpgable-menu {
    opacity: 1;
    top: 105%;
    visibility: visible;
  }

  .dpgable-menu .dpgable:hover>.dpgable-menu {
    opacity: 1;
    top: -3px;
    left: 100%;
    padding: 5px 0;
    visibility: visible;
  }

  .navbar-right .dpgable-menu {
    left: auto;
    right: 0;
  }

  .navbar-right .dpgable-menu:before {
    content: "";
    position: absolute;
    top: -20px;
    left: auto;
    right: 30%;
    border-style: solid;
    border-width: 10px;
    border-color: transparent transparent #063847 transparent;
  }

  .navbar-header {
    float: left;
  }

  .menu-collapse {
    width: auto;
    border-top: 0;
    box-shadow: none;
  }

  .menu-collapse.collapse {
    display: block !important;
    height: auto !important;
    padding-bottom: 0;
    overflow: visible !important;
  }

  .menu-collapse.in {
    overflow-y: visible;
  }

  .navbar-fixed-top .menu-collapse,
  .navbar-static-top .menu-collapse,
  .navbar-fixed-bottom .menu-collapse {
    padding-left: 0;
    padding-right: 0;
  }

  .navbar-toggle {
    display: none;
  }

  .menu-nav {
    float: left;
    margin: 0 !important;
  }

  .menu-nav>li {
    float: left;
  }

  .menu-nav>li>a {
    padding-top: 15px !important;
    padding-bottom: 15px !important;
  }

  .menu-nav.navbar-right:last-child {
    margin-right: -15px;
  }

  .navbar-right {
    float: right !important;
  }
}

.dpgable-menu .divider {
  height: 1px;
  margin: 9px 0;
  overflow: hidden;
  background-color: #0e6e8c;
}

.dpgable-menu>li {
  position: relative;
}

.dpgable-menu>li>a {
  display: block;
  padding: 3px 20px;
  clear: both;
  color: #2f3b40;
  line-height: 2;
  white-space: nowrap;
  text-decoration: none;
}

.dpgable-menu>li>a:hover,
.dpgable-menu>li>a:focus,
.dpgable-menu>.active>a,
.dpgable-menu>.active>a:hover,
.dpgable-menu>.active>a:focus {
  background-color: #f5f5f5;
}

.open>.dpgable-menu {
  display: block;
  opacity: 1;
}

.menu {
  background-color: white;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1030;
}

.menu-collapse.in {
  overflow-y: auto;
}

.navbar-toggle {
  position: relative;
  float: right;
  margin-right: 15px;
  padding: 9px 10px;
  margin-top: 10px;
  margin-bottom: 8px;
  background-color: #2b548e;
  background-image: none;
  border: 1px solid transparent;
  border-radius: 4px;
}

.navbar-toggle:focus {
  outline: none;
}

.navbar-toggle .icon-bar {
  display: block;
  width: 22px;
  height: 2px;
  border-radius: 1px;
}

.navbar-toggle .icon-bar+.icon-bar {
  margin-top: 4px;
}

.menu-nav {
  margin: 7.5px -15px;
  list-style: none;
  padding-left: 0;
}

.navbar-nav>li {
  position: relative;
  display: block;
}

.menu-nav>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
  line-height: 30px;
  overflow: hidden;
  text-align: center;
  text-decoration: none;
  color: #2f3b40;
}

@media (max-width: 767px) {
  .menu-nav .open .dpgable-menu {
    position: static;
    float: none;
    width: auto;
    margin-top: 0;
    border: 0;
    box-shadow: none;
  }

  .menu-nav .open .dpgable-menu>li>a,
  .menu-nav .open .dpgable-menu .dropdown-header {
    padding: 5px 15px 5px 25px;
  }

  .navbar-nav .open .dpgable-menu>li>a {
    line-height: 20px;
  }

  .menu-nav .open .dpgable-menu>li>a:hover,
  .menu-nav .open .dpgable-menu>li>a:focus {
    background-image: none;
  }
}

.menu-nav>li>.dpgable-menu {
  margin-top: 0;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.menu .menu-nav li button {
  margin: -6px 0;
}

.menu .menu-nav>li:hover {
  border-bottom: solid #0a8bb2;
}

.menu .menu-nav>li.no-border,
.menu .menu-nav>li.no-border:hover {
  border-bottom: none;
}

.menu .menu-nav>li>a:hover,
.menu .menu-nav>li>a:focus {
  background-color: transparent;
  color: #2f3b40;
}

.menu .menu-nav>.active>a,
.menu .menu-nav>.active>a:hover,
.menu .menu-nav>.active>a:focus {
  color: #fff;
  background-color: #063847;
}

.menu .navbar-toggle {
  border-color: #fff;
}

.menu .navbar-toggle:hover,
.menu .navbar-toggle:focus {
  background-color: #063847;
  border-color: #063847;
}

.menu .navbar-toggle .icon-bar {
  background-color: #fff;
}

.logo {
  display: inline-block;
  display: block;
  padding-top: 0.8rem;
  padding-bottom: 0.8rem;
  padding-left: 2rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  line-height: inherit;
  white-space: nowrap;
}

.btn-salir {
  text-align: right;
  padding-top: 0.4rem;
  padding-right: 1.5rem;
}

@media only screen and (max-width: 768px) {
  .btn-salir {
    text-align: center;
  }
}