{% extends "base.html" %}
{% block title %}YachayCode - Blog{% endblock title %}
{% load static %}
{% block contenido %}

<div class="container-fluid bg-mora">
 <div class="container pt-lg pb-5">
    <div class="row justify-content-center ">
    <div class="col-md-8">
      <!-- Search form -->
        <div class="container-1">
            <span class="icon"><i class="fa fa-search"></i></span>
            <input class="form-control search" type="search" id="" placeholder="Buscar articulos" />
        </div>
    </div>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col-md-9">
      <ul class="list-bus ">
        <li>  Tips y Recomendaciones </li>
        <li>  Curso de Django</li>
        <li>Historias Inspiradoras </li>
        <li>  html css3</li>
        <li>  Emprendimientos</li>
        <li> Para cuestionarse </li>
        <li> Oportunidades </li>
        <li>Acerca del Blog</li>
        <li>  Acerca de yachaycode</li>
                           
      </ul>
    </div>
  </div>
 </div>
</div>


<div class="container mb-lg1">
  <div class="row mt-5 mb-5">
    <div class="col-md-12 text-center">
       <h5 class="color-title" id="myModalLabel"><b>Encuentre los mejores post</b></h5>
    </div>
  </div>
  <div class="row">

    <div class="col-md-3">
      <!-- Card Light -->
        <div class="card">
          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="static/img/im.jpg" alt="Card image cap">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!-- Card content -->
          <div class="card-body">
            <!-- Title -->
           <a href="#"> <h5 class="">fundamentos de djando 2000 para profesionales de la programacion</h5></a>  
            <!-- Text -->
             <div class="row pd-gblog mb-1">
                <div class="col-md-2 ">
                  <div class="avatar-blog ">
                    <img src="static/img/user.jpg" class="rounded-circle img-fluid">
                  </div>
                  </div>  
                  <div class="col-md-10  pd-lblog cy-blog">
                   <p class="text-avatar mpg"><b>Alejo hurtado</b></p>
                </div>   
            </div>
            <!-- Link -->
            <a href="#!" class="d-flex justify-content-end"><span class="small">Leer completo <i class="fa fa-angle-double-right"></i></span></a>
          </div>
        </div>
        <!-- Card Light -->
    </div>

    <div class="col-md-3">
      <!-- Card Light -->
        <div class="card">
          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="static/img/im.jpg" alt="Card image cap">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!-- Card content -->
          <div class="card-body">
            <!-- Title -->
           <a href="#"> <h5 class="">fundamentos de djando 2000 para profesionales de la programacion</h5></a>  
            <!-- Text -->
             <div class="row pd-gblog mb-1">
                <div class="col-md-2 ">
                  <div class="avatar-blog ">
                    <img src="static/img/user.jpg" class="rounded-circle img-fluid">
                  </div>
                  </div>  
                  <div class="col-md-10  pd-lblog cy-blog">
                   <p class="text-avatar mpg"><b>Alejo hurtado</b></p>
                </div>   
            </div>
            <!-- Link -->
            <a href="#!" class="d-flex justify-content-end"><span class="small">Leer completo <i class="fa fa-angle-double-right"></i></span></a>
          </div>
        </div>
        <!-- Card Light -->
    </div>


        <div class="col-md-3">
      <!-- Card Light -->
        <div class="card">
          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="static/img/im.jpg" alt="Card image cap">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!-- Card content -->
          <div class="card-body">
            <!-- Title -->
           <a href="#"> <h5 class="">fundamentos de djando 2000 para profesionales de la programacion</h5></a>  
            <!-- Text -->
             <div class="row pd-gblog mb-1">
                <div class="col-md-2 ">
                  <div class="avatar-blog ">
                    <img src="static/img/user.jpg" class="rounded-circle img-fluid">
                  </div>
                  </div>  
                  <div class="col-md-10  pd-lblog cy-blog">
                   <p class="text-avatar mpg"><b>Alejo hurtado</b></p>
                </div>   
            </div>
            <!-- Link -->
            <a href="#!" class="d-flex justify-content-end"><span class="small">Leer completo <i class="fa fa-angle-double-right"></i></span></a>
          </div>
        </div>
        <!-- Card Light -->
    </div>

        <div class="col-md-3">
      <!-- Card Light -->
        <div class="card">
          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="static/img/im.jpg" alt="Card image cap">
            <a>
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>
          <!-- Card content -->
          <div class="card-body">
            <!-- Title -->
           <a href="#"> <h5 class="">fundamentos de djando 2000 para profesionales de la programacion</h5></a>  
            <!-- Text -->
             <div class="row pd-gblog mb-1">
                <div class="col-md-2 ">
                  <div class="avatar-blog ">
                    <img src="static/img/user.jpg" class="rounded-circle img-fluid">
                  </div>
                  </div>  
                  <div class="col-md-10  pd-lblog cy-blog">
                   <p class="text-avatar mpg"><b>Alejo hurtado</b></p>
                </div>   
            </div>
            <!-- Link -->
            <a href="#!" class="d-flex justify-content-end"><span class="small">Leer completo <i class="fa fa-angle-double-right"></i></span></a>
          </div>
        </div>
        <!-- Card Light -->
    </div>

  </div>
</div>
{% endblock contenido %}
