{% extends "base.html" %}
{% block title %}YachayCode - Blog{% endblock title %}
{% load static %}
{% block contenido %}
<div class="container-fluid bg-mora">
 <div class="container pt-lg pb-5">
    <div class="row justify-content-center ">
    <div class="col-md-8">
      <!-- Search form -->
        <div class="container-1">
            <span class="icon"><i class="fa fa-search"></i></span>
            <form  method="GET" action="{% url 'app_blog:p_buscador_blog' %}" > 
            <input class="form-control search pl" type="search" id="q" name="q" placeholder="Buscar Topicos ..." />
            </form>
        </div>

    </div>
  </div>
  <div class="row justify-content-center mt-4">
    <div class="col-md-9">
      <ul class="list-bus ">
        {% for categoria in categorias_blog %}
          <li>  {{categoria.nombre}} </li>  
        {% endfor %}                     
      </ul>
    </div>
  </div>
 </div>
</div>
<div class="container mb-lg1">
  <div class="row mt-5 mb-5">
    <div class="col-md-12 text-center">
       <h5 class="color-title" id="myModalLabel"><b>Lo más reciente</b></h5>
    </div>
  </div>
  <div class="row">
    {% for blog in blogs %}
    <div class="col-md-3">
      <!-- Card -->
        <div class="card">

          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="{{ blog.portada.url }}" alt="Card image cap">
            <a href="{% url 'app_blog:p_detalle_blog' blog.slug %}"> 
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!-- Card content -->
          <div class="card-body">

            <!-- Title -->
            <a href="{% url 'app_blog:p_detalle_blog' blog.slug %} "><h5 class="card-title">{{blog.titulo}}</h5></a>
            <!-- Text -->
            <p class="card-text"> {{blog.resumen}} </p>
            <!-- Button -->
          

          </div>
           <!-- Card footer -->
            <div class="rounded-bottom  lighten-3  pt-3 ">


              <div class="row pd-gblog mb-1">
                  <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-2 ">
                              <div class="avatar-blog ">
                              <img src="{{ blog.autor.perfil_usuario.foto.url }}" class="rounded-circle img-fluid">
                              </div>
                        </div>
                          
                        <div class="col-md-10  pd-lblog cy-blog">
                            <p class="text-avatar mpg">Posteado por <b>{{ blog.autor.perfil_usuario.nombres }} {{ blog.autor.perfil_usuario.apellidos }}</b></p>
                            <p class="text-avatar mpg">{{blog.fecha_publicacion|date:"d M, Y"}}</p>
                        </div>
                    </div>
                  </div>

                  <div class="col-md-3 cy-blog">
                    <p class="text-avatar mpg">Leelo en 3 min.</p>
                </div>
            </div>

          </div>
        </div>
        <!-- Card -->
    </div>
    {% endfor %}

  </div>
</div>
{% endblock contenido %}