{% extends "base.html" %}
{% block title %}YachayCode - Blog{% endblock title %}
{% load static %}
{% block contenido %}
<!--stard categorie-->
 <div class="container-fluid bg-color">
  <!-- detalle blog -->
    <div class="container py-xl-5 py-lg-3 ">
      <div class="row inner_sec_info pt-md-4 pt-sm-8 justify-content-center">
        <!-- left side -->
        <div class="col-md-10  col-11 single-left card1">
          <h5 class="text-dark text-center mb-3 pt-4 pb-3 strong ">Articulos con la etiqueta "django"</h5>
          <hr>
          <a href="#"><span class="blue1">Cómo instalar y configurar un cluster Apache ZooKeeper en Ubuntu 18.04</span></a>
          <ul class="blog_list m-0 p-0">
            <li>
               <span class="small pr-3">12/01/2019</span>
            </li>
             <li>   
              <span class="small">por alejo hurtado</span>
             </li>
          </ul>
          <hr>
          <a href="#"><span class="blue1">Cómo instalar y configurar un cluster Apache ZooKeeper en Ubuntu 18.04</span></a>
          <ul class="blog_list m-0 p-0">
            <li>
               <span class="small pr-3">12/01/2019</span>
            </li>
             <li>   
              <span class="small">por alejo hurtado</span>
             </li>
          </ul>
          <hr>
        </div>
      </div>
    </div>
  <!-- //blog -->  
 </div>

<!--end categorie-->
{% endblock contenido %}