{% extends "base.html" %}
{% block title %}YachayCode | Blog{% endblock title %}
{% load static %}
{% load markdown_deux_tags %}
{% block contenido %}
<!--stard detalles blog-->
<div class="container-fluid">
  <div class="container col-md-9">
    <div class="row">
      <div class="col-md-12">
        <a  href=" {% url 'app_blog:p_inicio' %} "><i class="fas fa-arrow-left mr-2"></i><span>Blog</span></a>
      </div>
    </div>
    <div class="row ">
      <div class="col-md-12">
           <h2 class="h2-responsive  mb-5 mt-4"><b> {{detalle_blog.titulo}}</b></h2>
      </div>
      <div class="col-md-12">
         <img src="{{detalle_blog.portada.url}}" class=" img-fluid">            
          <div class="col-md-12 mt-2 mpg mb-4">
              <span class="  mr-5">Posteado por :<b>{{ detalle_blog.autor.perfil_usuario.nombres }} {{ detalle_blog.autor.perfil_usuario.apellidos }}</b></span>
              <span class="">{{detalle_blog.fecha_publicacion|date:"d M, Y"}}</span>
          </div>
      </div>
    </div>
    <div class="row ">
        <div class="col-md-12">
          <h4 class="h4-responsive "><b>{{detalle_blog.titulo}}</b></h4>
        </div>
        <div class="col-md-12">
          <p align="justify">
            {{detalle_blog.contenido|markdown:"STYLE"}}
          </p>
        </div>
      </div>
  </div>
</div>
<!--end detalles blog-->
{% endblock contenido %}