{% extends "base.html" %}
{% block title %}YachayCode | Blog{% endblock title %}
{% load static %}
{% load martortags %}
{% block contenido %}
{% load disqus_tags %}
 <div class="container-fluid bg-color">
  <!-- detalle blog -->
    <div class="container py-xl-5 py-lg-3 ">
      <div class="row inner_sec_info pt-md-4 pt-sm-8 justify-content-center">
        <!-- left side -->
        <div class="col-md-10  col-11 single-left card1">
          <h2 class="text-dark text-center mb-3 pt-4 strong">{{detalle_blog.titulo}}</h2>
             <ul class="blog_list my-3 text-center">
             <li>
              
              <i class="far fa-user mr-2"></i>{{ detalle_blog.autor.perfil_usuario.nombres }} {{ detalle_blog.autor.perfil_usuario.apellidos }}
       
             </li>
              <li>{{detalle_blog.fecha_publicacion|date:"d M, Y"}}</li>
              <li class="mx-3">
              
                  <i class="fas fa-eye mr-1"></i>
                  {{detalle_blog.vistas}}
              </li>
              <li>
              
                  <i class="far fa-comments mr-1"></i>
                  <a href="{{ object.get_absolute_url }}#disqus_thread" data-disqus-identifier="{{ object.id }}"> {% disqus_num_replies %}<span class="gris3">comentarios</span></a>
              </li>
            </ul>
          <div class="single-left1">
            <img src="{{detalle_blog.portada.url}}" alt=" " class="img-fluid" />
            <h5 class="card-title pt-4">
              <a href="#" class="text-dark">{{detalle_blog.titulo}}</a>
            </h5>
            <p>
              {{detalle_blog.contenido|safe_markdown}}
            </p>
          </div>
          <!--stard relacionados-->
          {% if detalle_blog.posts_relacionados.all %}
            <div class="container-fluid m-0 p-0 ">
              <hr class="mt-5 mb-4">
                <h3 class="blog-title text-dark mb-4">Artículos relacionados</h3>
                <div class="row">
                  
                    {% for post_relacionado in detalle_blog.posts_relacionados.all  %}
                      <div class="col-md-4">
                        <!-- Card -->
                        <div class="">

                          <!-- Card image -->
                          <a href="{% url 'app_blog:p_detalle_blog' post_relacionado.slug %}"> <img class="card-img-top" src="{{post_relacionado.portada.url}}" alt="Card image cap"></a>

                          <!-- Card content -->
                          <div class="mt-2">

                           <a href="{% url 'app_blog:p_detalle_blog' post_relacionado.slug %}"><h5 class="card-title">{{post_relacionado.titulo}}</h5></a>
                          </div>

                        </div>
                        <!-- Card -->
                      </div>
                    {% endfor %}
               </div>
                <!---->
                {% if detalle_blog.categorias.all %}
                   <div class="row mt-4">
                    <div class="col-md-12">
                      <ul class="categoria m-0 p-0">
                        {% for categoria in detalle_blog.categorias.all  %}
                          <li><a href="{% url 'app_blog:p_tag_blog' categoria.slug %}"><span>{{categoria.nombre}}</span></a></li>
                        {% endfor%}
                      </ul>
                    </div>
                 </div>
               {%endif%}
                <!---->
            </div>
          {% endif %}
             
        </div>
        <!-- //left side -->
         <!--end relacionados-->
          <div class="container  mt-5 ">
            <div class="row justify-content-center">
            <div class="col-md-10 col-11 single-left card1">
            {% disqus_show_comments %}
            </div>
              
            </div>
          </div>
    
      </div>
    </div>
 
  <!-- //blog -->
   
 </div>     
 <span class="btn-escribir whatsap text-center">
    <a href="https://web.whatsapp.com/send?phone=51983679449&text=Hola%20YachayCode..!" target="_blank"> <img class="img-whtsap1" src="/static/img/whatsapp.png" ></a>
    <a href="https://www.messenger.com/t/618908005122073" target="_blank"> <img class="img-whtsap" src="/static/img/messenger.png"></a>
 </span>

  {% endblock contenido %}
{% block script %}
  <script>
    $.ajaxSetup({
         beforeSend: function(xhr, settings) {
             function getCookie(name) {
                 var cookieValue = null;
                 if (document.cookie && document.cookie != '') {
                     var cookies = document.cookie.split(';');
                     for (var i = 0; i < cookies.length; i++) {
                         var cookie = jQuery.trim(cookies[i]);
                         // Does this cookie string begin with the name we want?
                         if (cookie.substring(0, name.length + 1) == (name + '=')) {
                             cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                             break;
                         }
                     }
                 }
                 return cookieValue;
             }
             if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                 // Only send the token to relative URLs i.e. locally.
                 xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
             }
         }
    });
    $( document ).ready(function() {
      $.ajax( {
          type: "POST",
          url: '/blog/contador-visitas-ajax/',
          data: {'id': '{{detalle_blog.id}}'},
          success: function( data ) {
            var resultado = JSON.parse(data);
            if (!resultado.estado) {
               alert("Error de server: " + resultado.error)
               return false 
            }
          },
            error : function() {
             alert('Disculpa, error del servidor o opción no válida..!');
         }

        } );
    });

  </script>
{% endblock %}