{% extends "base.html" %}
{% block title %}YachayCode - Sobre nosotros{% endblock title %}
{% load static %}
{% block contenido %}
<!-- about top -->
  <div class="details-books py-5">
    <div class="container py-xl-5 py-lg-3">
      <div class="title text-center mb-sm-5 mb-4">
        <h4 class="text-dark font-italic">Sobre nosotros</h4>
        <p>Compartimos experiencias.</p>
      </div>
      <div class="row">
        <div class="col-lg-6 agileits_updates_grid_right">
          <div id="accordion">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    ¿Quiénes somos?
                  </button>
                </h5>
              </div>

              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                  Somos una equipo de profesionales apasionados por la tecnología, computación y la informática; estamos muy contentos de compartir nuestras experiencias profesionales y personales, generando contenido de valor en este blog. 
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Sobre YachayCode
                  </button>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                  <b>YachayCode</b>  es una combincación de dos terminos: <br>
                  -<b>Yachay:</b> Es un término quechua que se refiere a sabiduria o conocimiento <br>
                  - <b>Code:</b>  es un término ingles que se refiere al código de lenguaje de programación, "Aprender a escribir codígo es el nuevo lenguaje universal"
                  <b>YachayCode:</b> Es una comunidad de profesionales apasionados por la tecnología, computación y la informática; dispuestos a ayudar..!
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTree">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTree" aria-expanded="false" aria-controls="collapseTwo">
                    Temas de interés
                  </button>
                </h5>
              </div>
              <div id="collapseTree" class="collapse" aria-labelledby="headingTree" data-parent="#accordion">
                <div class="card-body">
                  - Lenguajes de programación: Python, Java, Php, Arduino, Javascript, C y C++ <br>
                  - Automatización de procesos basado en navegadores web y movil(Selenium, phantomjs , appnum y tasker) <br>
                  - Webscraping (scrapy, newspaper, requests, beautifulsoup, lxml, curl, proxys rotativos, agentes de usuarios rotativos, etc <br>
                  - React.js, vue.js y angular <br>
                  - Tecnologías de procesamiento distribuido basado en colas y hilos: Celery, flower, apache Kafka y rabbitMq <br>
                  - Orm: django orm y SQLAlchemy <br>
                  - Base de datos: Mongodb, Redis, Mysql, Postgres, SqlLite<br>
                  - Motor de búsqueda: Apache solr <br>
                  - Desarrollo web <br>
                  - Experiencias profesionales<br>
                  - Startup <br>
                  - Herramientas/framework web (Bootstrap4, jquery, adminLite2 y Html5, react.js, vue.js y angular y Css3)<br>
                  - Tics educativos <br>
                  - Robótica educativa <br>
                  - Aws y digitalOcean <br>
                  - Tecnologias big data y IA (NumPy, pandas, nlp, Nltk, sklearn, matplotlib, google cloud vision, rasa core/stack) <br>
                  - Herramientas API web: Django rest framework y flask <br>
                  - Scrum y kanban <br>
                  - Herramientas de gestión de proyectos ágiles: confluence atlassian, taiga y monday <br>
                  - Devops
                  - Ciencia, Tecnología, Ingeniería y Matemáticas(Stem) <br>
                  - Innovación <br>
                  - Transformación digital <br>
                  - Ui/Ux <br>
                  - ... 
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 details-w3l">
          <img src="{% static "img/acerca-de-yachaycode.png" %}" class="img-fluid" alt="" />
        </div>
      </div>
    </div>
  </div>
  <!-- //about top -->
  <!-- team -->
  <section class="wthree-row " id="team">
    <!-- team container -->
    <div class="team_bg_w3ls">
      <div class="container py-sm-5">
        <!-- title description -->
        <div class="row py-lg-5 justify-content-center">
          <div class="title text-center mb-sm-5 mb-4">
            <h4 class="text-dark font-italic">Impulsores de este blog</h4>
            <p>Aprendiendo y compartiendo</p>
          </div>
        </div>
        <!-- //title description -->
    <div class="row inner_sec_info_w3ls_agile">
        <div class="col-lg-3 col-md-6 col-sm-6 team_grid1">
        <div class="team_grid_info">
          <img src="{% static "img/hurtado.jpg" %}" alt=" " class="img-fluid" />
          <h3>Alejandro Hurtado Chacñama</h3>
          <p>Arquitecto de Software</p>
          <div class="team_icons">
            <ul>
              <li><a target="_blank" href="https://web.facebook.com/alejandrohdo1/" class="facebook"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
              <li><a target="_blank" href="https://www.instagram.com/alejandrohdo1" class="instagram"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
              <li><a target="_blank" href="https://www.linkedin.com/in/alehurcha/" class="linkedin"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>

            </ul>
          </div>
        </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 team_grid1">
        <div class="team_grid_info">
          <img src="{% static "img/tello.jpg" %}" alt=" " class="img-fluid" />
          <h3>Rolando Tello Paniura</h3>
          <p>Especialista en Base de datos</p>
          <div class="team_icons">
          <!-- <ul>
              <li><a href="#" class="facebook"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
              <li><a href="#" class="twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>

            </ul> -->
          </div>
        </div>
        </div>
        <div class="col-lg-3 col-md-6 col-sm-6 team_grid1">
        <div class="team_grid_info">
          <img src="{% static "img/otazu.jpg" %}" alt=" " class="img-fluid" />
          <h3>Anstron Otazu</h3>
          <p>Desarrollador frontend</p>
          <div class="team_icons">
            <!-- <ul>
                <li><a href="#" class="facebook"><i class="fab fa-facebook-f" aria-hidden="true"></i></a></li>
                <li><a href="#" class="twitter"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>

              </ul> -->
          </div>
          </div>
        </div>
      </div>
      </div>
    </div>
    <!-- //team container -->
  </section>
  <!-- //team -->
{% endblock contenido %}