{% extends "base.html" %}
{% block title %}YachayCode - Sobre nosotros{% endblock title %}
{% load static %}
{% block contenido %}
<!-- about top -->
  <div class="details-books py-5">
    <div class="container py-xl-5 py-lg-3">
      <div class="title text-center mb-sm-5 mb-4">
        <h3 class="text-dark font-italic">Sobre nosotros</h3>
        <p>Equipo de programadores apasionados</p>
      </div>
      <div class="row">
        <div class="col-lg-6 agileits_updates_grid_right">
          <div id="accordion">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    Sobre nosotros
                  </button>
                </h5>
              </div>

              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rerum reiciendis ea architecto hic nesciunt quibusdam. Temporibus necessitatibus dolore, deserunt hic explicabo odit! Necessitatibus impedit, quisquam eos animi sequi nemo eius.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Dominios
                  </button>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vitae, saepe, quam! Atque repellat, veniam dignissimos. Sapiente, laudantium adipisci laboriosam accusantium, aperiam porro perferendis eveniet sunt sit praesentium illum a, perspiciatis.
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  especialistas 
                  </button>
                </h5>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nisi eos placeat architecto velit asperiores, recusandae corporis, iure itaque, aliquid illo nam voluptatem iste! Molestiae fugit praesentium inventore ipsum architecto eligendi!
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 details-w3l mt-5">
          <img src="{% static "img/ab2.jpg" %}" class="img-fluid" alt="" />
        </div>
      </div>
    </div>
  </div>
  <!-- //about top -->

  <!-- team -->
  <section class="wthree-row py-5" id="team">
    <!-- team container -->
    <div class="team_bg_w3ls">
      <div class="container py-sm-5">
        <!-- title description -->
        <div class="row py-lg-5 justify-content-center">
          <div class="col-lg-9  bb-left text-center">
            <h3 class="agile-title">Nuestro Equipo de Desarrollo</h3>
          </div>
          <div class="col-lg-9 mt-lg-0 mt-3 px-lg-5">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsum esse nostrum magnam optio dolor mollitia suscipit, officiis dolore, eos nisi enim nemo laboriosam odio, dolorum veniam praesentium itaque expedita laborum..</p>
          </div>
        </div>
        <!-- //title description -->
        <!-- team row -->
        <div class="row py-md-5 pt-5 justify-content-center">
          <div class="col-md-3 col-9 team-grids pb-4">
            <div class="our-team">
              <div class="pic">
                <img src="{% static "img/user1.jpg" %}" alt="team member" class="img-fluid" />
              </div>
              <div class="content">
                <h3 class="title">Alejo hurtado</h3>
                <span class="post">Backenk</span>
                <ul class="social">
                  <li>
                    <a href="#" class="fab fa-facebook-f"></a>
                  </li>
                  <li>
                    <a href="#" class="fab fa-twitter"></a>
                  </li>
                  <li>
                    <a href="#" class="fab fa-linkedin"></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-9 team-grids">
            <div class="our-team active">
              <div class="pic">
                <img src="{% static "img/user1.jpg" %}" alt="team member" class="img-fluid" />
              </div>
              <div class="content">
                <h3 class="title">Rolando tello</h3>
                <span class="post">javero</span>
                <ul class="social">
                  <li>
                    <a href="#" class="fab fa-facebook-f"></a>
                  </li>
                  <li>
                    <a href="#" class="fab fa-twitter"></a>
                  </li>
                  <li>
                    <a href="#" class="fab fa-linkedin"></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
          <div class="col-md-3 col-9 team-grids mt-lg-0 mt-4">
            <div class="our-team">
              <div class="pic">
                <img src="{% static "img/user1.jpg" %}" alt="team member" class="img-fluid" />
              </div>
              <div class="content">
                <h3 class="title">Anstron otazu</h3>
                <span class="post">Frontend</span>
                <ul class="social">
                  <li>
                    <a href="#" class="fab fa-facebook-f"></a>
                  </li>
                  <li>
                    <a href="#" class="fab fa-twitter"></a>
                  </li>
                  <li>
                    <a href="#" class="fab fa-linkedin"></a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>
        <!-- //team row -->
      </div>
    </div>
    <!-- //team container -->
  </section>
  <!-- //team -->
{% endblock contenido %}