{% extends "base.html" %}
{% load static %}
{% block title %}Startup Hero | Usuarios{% endblock title %}

{% block contenido %}
	<div class="container-fluid linea_aliados">
	  <div class="row row_aliados"><span></span></div>
	</div>
	<div class="container">
	  <div class="row">
	     <div class="col-md-12">
	        <img src="static/img/img_aliados.png" class="img-fluid img_recurso" alt="Responsive image">
	     </div>
	  </div>  
	</div>

	    <div class="continer-fluid cont_mensaj">
	        <div class="row">
	            <div class="col-md-12 centrar padi_index1">
	                   <h2 class="h2-responsive product-name menja_ind"><strong>Nuestros Aliados</strong></h2>
	                  
	          </div>
	        </div>
	    </div>

	    <div class="container">
	    <header class="">  
	    <nav class="navbar navbar-expand-lg navbar-dark color_nav_ali position_nav">
	        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
	            <span class="navbar-toggler-icon"></span>
	        </button>
	        <div class="collapse navbar-collapse" id="navbarSupportedContent1">
	            <ul class="navbar-nav mr-auto">
	                <li class="nav-item active">
	                    <a class="nav-link" href="#seccion1"><span class="color_white"><strong>Facilitadores</strong></span><span class="sr-only">(current)</span></a>
	                </li>
	                <li class="nav-item">
	                    <a class="nav-link" href="#seccion2"><span class="color_white"><strong>Mentores</strong></span></a>
	                </li>
	                <li class="nav-item">
	                    <a class="nav-link" href="#seccion3"><span class="color_white"><strong>Instituciones</strong></span></a>
	                </li>
	            </ul>
	        </div>
	    </nav>
	    </header>
	      <div class="main">
	        <div class="col-md-12">
	  <div class="seccion center_text" id="seccion1">
	                

	    <div class="container cont2 cont6">
	         <div class="row text-center">
	            <div class="col-md-12 mrg3">
	                 <h2 class="h2-responsive product-name "><strong>Docentes y Mentores</strong></h2>
	                 <p>Aquí se muestra la lista de los mas representativos docentes, líderes del ecosistema de emprendimiento quienes nos han apoyado o vienen dictando en nuestros diferentes programas; así como mentores de Future Startup Hero</p>
	            </div>
	        </div>
	        <div class="row">    
	          <div class="col-md-4 colim">
	            
	            <div class="view overlay hm-zoom hm-blue-strong">
	                <img src=" {% static "img/facilitadores/Carla.jpg" %} " class="img-fluid " alt="zoom">

	                <div class="mask flex-center waves-effect waves-light">
	                   <div>
	                        <p class="nomb"><strong>Carla Perez</strong></p>
	                        <p class="cat"><strong>Emprendedora e intra-emprendedora, con experiencia en Ventas Consultivas en el sector de telecomunicaciones con las 10 años de experiencia, comprometida con la gestión de procesos de mejora de continua en la gestión comercial, acelerando resultados y apasionada en temas de innovación tecnológica y emprendiendo empresarial .
	                        </strong></p>
	                        <p class="red1">
	                          	                         
	                        </p>
	                   </div>
	                </div> 
	            </div>
	          </div>
	         <div class="col-md-4 colim">
	             
	            <div class="view overlay hm-zoom hm-blue-strong">
	               <img src=" {% static "img/facilitadores/carlos.jpg" %} " class="img-fluid " alt="zoom">
	                <div class="mask flex-center waves-effect waves-light">
	                   <div>
	                        <p class="nomb"><strong>Carlos Jimeno</strong></p>
	                        <p class="cat"><strong>Ejecutivo senior, con más de 25 años de experiencia Internacional en el campo de Gestión de Empresas, en las áreas de Calidad, Análisis, Mejora de Procesos y Planeamiento Estratégico. Experiencia gerencial local y multinacional. Master en innovación y emprendimiento y estudios de post – grado en Gestión de Calidad. 
	                        </strong></p>
	                        <p class="red1">
	                           
	                        </p>
	                   </div>
	                </div> 
	            </div>
	          </div>
	          <div class="col-md-4 colim">
	        
	            <div class="view overlay hm-zoom hm-blue-strong">
	              <img src=" {% static "img/facilitadores/irazu.jpg" %} " class="img-fluid " alt="zoom">
	                <div class="mask flex-center waves-effect waves-light">
	                   <div>
	                        <p class="nomb"><strong>Iranzu Goicochea</strong></p>
	                        <p class="cat"><strong>Directiva con más de 20 años de experiencia internacional en gerencia, capacitación, consultoría y marketing en empresas privadas, públicas, ONGs, y como profesional independiente
	                        </strong></p>
	                        <p class="red1">
	                              
	                         
	                        </p>
	                   </div>
	                </div> 
	            </div>
	          </div>
	          
	        </div>  



	         <div class="row">
	         <div class="col-md-4 colim">
	              
	            <div class="view overlay hm-zoom hm-blue-strong">
	       			<img src=" {% static "img/facilitadores/luisa.jpg" %} " class="img-fluid " alt="zoom">
	                <div class="mask flex-center waves-effect waves-light">
	                   <div>
	                    <p class="nomb"><strong>Luisa Avila</strong></p>
	                        <p class="cat"><strong>Ingeniero Industrial, Universidad Nacional Mayor de San Marcos, Lima-Perú y Master del programa MBA Gerencia de Calidad y Productividad, Pontificia Universidad Católica del Ecuador. Actualmente es Docente del area de emprendimiento en la Universidad Ricardo Palma.

	                        </strong></p>
	                        <p class="red1">
	                            
	                          
	                        </p>
	                   </div>
	                </div> 
	            </div>
	          </div>
	           <div class="col-md-4 colim ">
	             
	            <div class="view overlay hm-zoom hm-blue-strong">
	             <img src=" {% static "img/facilitadores/monica.jpg" %} " class="img-fluid " alt="zoom">
	                <div class="mask flex-center waves-effect waves-light">
	                   <div>
	            	        <p class="nomb"><strong>Monica Bazan</strong></p>
	                        <p class="cat"><strong>Amplia experiencia en el diseño, gestión y monitoreo de programas y proyectos sociales y educativos en el sector público y en organismos no gubernamentales. Su trayectoria en el sector educación la ha llevado a ser la coordinadora de la delegación de estudiantes ganadores de la Feria Nacional de Ciencia y Tecnología “Eureka” en Estados Unidos tres años consecutivos.
	                        </strong></p>
	                        <p class="red1">
	                             
	                            
	                        </p>
	                   </div>
	                </div> 
	            </div>
	          </div>
	      
	       
	        </div>   
	    </div> 


	</div>
<div class="seccion center_text" id="seccion2">
	 
	   <!-- <div class="container cont2 cont6">
	         <div class="row text-center">
	            <div class="col-md-12 mrg3">
	                 <h2 class="h2-responsive product-name "><strong>Mentores</strong></h2>
	            </div>
	        </div>
	        <div class="row ">
	          <div class="col-md-3 colim">
	   
	            <div class="view overlay hm-zoom hm-red-strong">
	                <img src="static/img/mentor1.jpg" class="img-fluid " alt="zoom">
	                <div class="mask flex-center waves-effect waves-light">
	                   <div>
	                        <p class="nomb">Guillermo diaz</p>
	                        <p class="cat">Ceo</p>
	                        <p class="red1">
	                             <a href="#"><i class="fa fa-facebook-square fa-1x" aria-hidden="true"></i></a>
	                            <a href="#"><i class="fa fa-twitter-square fa-1x" aria-hidden="true"></i></a>
	                            <a href=""><i class="fa fa-youtube-square fa-1x" aria-hidden="true"></i></a>
	                        </p>
	                   </div>
	                </div> 
	            </div>
	          </div>
	         <div class="col-md-3 colim">
	           
	            <div class="view overlay hm-zoom hm-red-strong">
	               <img src="static/img/mentor1.jpg" class="img-fluid " alt="zoom">
	                <div class="mask flex-center waves-effect waves-light">
	                   <div>
	                        <p class="nomb">Guillermo diaz</p>
	                        <p class="cat">Ceo</p>
	                        <p class="red1">
	                             <a href="#"><i class="fa fa-facebook-square fa-1x" aria-hidden="true"></i></a>
	                            <a href="#"><i class="fa fa-twitter-square fa-1x" aria-hidden="true"></i></a>
	                            <a href=""><i class="fa fa-youtube-square fa-1x" aria-hidden="true"></i></a>
	                        </p>
	                   </div>
	                </div> 
	            </div>
	          </div>
	          <div class="col-md-3 colim">
	              
	            <div class="view overlay hm-zoom hm-red-strong">
	              <img src="static/img/mentor1.jpg" class="img-fluid " alt="zoom">
	                <div class="mask flex-center waves-effect waves-light">
	                   <div>
	                        <p class="nomb">Guillermo diaz</p>
	                        <p class="cat">Ceo</p>
	                        <p class="red1">
	                             <a href="#"><i class="fa fa-facebook-square fa-1x" aria-hidden="true"></i></a>
	                            <a href="#"><i class="fa fa-twitter-square fa-1x" aria-hidden="true"></i></a>
	                            <a href=""><i class="fa fa-youtube-square fa-1x" aria-hidden="true"></i></a>
	                        </p>
	                   </div>
	                </div> 
	            </div>
	          </div>
	          <div class="col-md-3 colim">
	   
	            <div class="view overlay hm-zoom hm-red-strong">
	               <img src="static/img/mentor1.jpg" class="img-fluid " alt="zoom">
	                <div class="mask flex-center waves-effect waves-light">
	                   <div>
	                        <p class="nomb">Guillermo diaz</p>
	                        <p class="cat">Ceo</p>
	                        <p class="red1">
	                             <a href="#"><i class="fa fa-facebook-square fa-1x" aria-hidden="true"></i></a>
	                            <a href="#"><i class="fa fa-twitter-square fa-1x" aria-hidden="true"></i></a>
	                            <a href=""><i class="fa fa-youtube-square fa-1x" aria-hidden="true"></i></a>
	                        </p>
	                   </div>
	                </div> 
	            </div>
	          </div>
	        </div>  
	         <div class="row">
	         <div class="col-md-3 colim">
	              
	            <div class="view overlay hm-zoom hm-red-strong">
	             <img src="static/img/mentor1.jpg" class="img-fluid " alt="zoom">
	                <div class="mask flex-center waves-effect waves-light">
	                   <div>
	                        <p class="nomb">Guillermo diaz</p>
	                        <p class="cat">Ceo</p>
	                        <p class="red1">
	                             <a href="#"><i class="fa fa-facebook-square fa-1x" aria-hidden="true"></i></a>
	                            <a href="#"><i class="fa fa-twitter-square fa-1x" aria-hidden="true"></i></a>
	                            <a href=""><i class="fa fa-youtube-square fa-1x" aria-hidden="true"></i></a>
	                        </p>
	                   </div>
	                </div> 
	            </div>
	          </div>
	           <div class="col-md-3 colim">
	           
	            <div class="view overlay hm-zoom hm-red-strong">
	             <img src="static/img/mentor1.jpg" class="img-fluid " alt="zoom">
	                <div class="mask flex-center waves-effect waves-light">
	                   <div>
	                        <p class="nomb">Guillermo diaz</p>
	                        <p class="cat">Ceo</p>
	                        <p class="red1">
	                             <a href="#"><i class="fa fa-facebook-square fa-1x" aria-hidden="true"></i></a>
	                            <a href="#"><i class="fa fa-twitter-square fa-1x" aria-hidden="true"></i></a>
	                            <a href=""><i class="fa fa-youtube-square fa-1x" aria-hidden="true"></i></a>
	                        </p>
	                   </div>
	                </div> 
	            </div>
	          </div>
	          <div class="col-md-3 colim">
	         
	            <div class="view overlay hm-zoom hm-red-strong">
	         <img src="static/img/mentor1.jpg" class="img-fluid " alt="zoom">
	                <div class="mask flex-center waves-effect waves-light">
	                   <div>
	                        <p class="nomb">Guillermo diaz</p>
	                        <p class="cat">Ceo</p>
	                        <p class="red1">
	                             <a href="#"><i class="fa fa-facebook-square fa-1x" aria-hidden="true"></i></a>
	                            <a href="#"><i class="fa fa-twitter-square fa-1x" aria-hidden="true"></i></a>
	                            <a href=""><i class="fa fa-youtube-square fa-1x" aria-hidden="true"></i></a>
	                        </p>
	                   </div>
	                </div> 
	            </div>
	          </div>
	          <div class="col-md-3 colim">
	           
	            <div class="view overlay hm-zoom hm-red-strong">
	           <img src="static/img/mentor1.jpg" class="img-fluid " alt="zoom">
	                <div class="mask flex-center waves-effect waves-light">
	                   <div>
	                        <p class="nomb">Guillermo diaz</p>
	                        <p class="cat">Ceo</p>
	                        <p class="red1">
	                             <a href="#"><i class="fa fa-facebook-square fa-1x" aria-hidden="true"></i></a>
	                            <a href="#"><i class="fa fa-twitter-square fa-1x" aria-hidden="true"></i></a>
	                            <a href=""><i class="fa fa-youtube-square fa-1x" aria-hidden="true"></i></a>
	                        </p>
	                   </div>
	                </div> 
	            </div>
	          </div>
	        </div>   
	    </div> -->
	                      
	          </div>
	            <div class="seccion center_text " id="seccion3">
	               <div class="row text-center">
	                  <div class="col-md-12 mrg3">
	                       <h2 class="h2-responsive product-name "><strong>Instituciones</strong></h2>
	                       <p>con las que hemos trabajado</p>
	                  </div>

	              </div> 
	                <div class="row">
                   <div  class="col-md-3">
                         <img  src="static/img/instituciones/certus.jpeg" class="img-fluid img_institucion" alt="Responsive image">
                   </div>
                    <div  class="col-md-3">
                        <img  src="static/img/instituciones/emprender.jpeg" class="img-fluid img_institucion" alt="Responsive image">
                   </div>
                    <div  class="col-md-3">
                          <img  src="static/img/instituciones/equipu.jpeg" class="img-fluid img_institucion" alt="Responsive image">
                   </div>
                    <div  class="col-md-3">
                          <img  src="static/img/instituciones/AngelHack.png" class="img-fluid img_institucion" alt="Responsive image">
                   </div>
                  
                   
                </div>   
                 <div class="row">
                      <div  class="col-md-3">
                         <img  src="static/img/instituciones/usat.jpeg" class="img-fluid img_institucion" alt="Responsive image">
                   </div>
                  <div class="col-md-3">
                           <img  src="static/img/instituciones/innovate.jpeg" class="img-fluid img_institucion" alt="Responsive image">
                     </div>
                    
                      <div  class="col-md-3">
                            <img  src="static/img/instituciones/cisco.png" class="img-fluid img_institucion" alt="Responsive image">
                     </div>
                      <div  class="col-md-3">
                            <img  src="static/img/instituciones/pupc.png" class="img-fluid img_institucion" alt="Responsive image">
                     </div>
                     
                </div>
                  <div class="row">
                    <div  class="col-md-3">
                          <img  src="static/img/instituciones/ascendio.png" class="img-fluid img_institucion" alt="Responsive image">
                     </div>
                     
                      <div  class="col-md-3">
                            <img  src="static/img/instituciones/star.png" class="img-fluid img_institucion" alt="Responsive image">
                     </div>
                         <div  class="col-md-3">
                           <img  src="static/img/instituciones/euforialogo.png" class="img-fluid img_institucion" alt="Responsive image">
                     </div>
                     <div  class="col-md-3">
                           <img  src="static/img/instituciones/ministerio.png" class="img-fluid img_institucion" alt="Responsive image">
                     </div>
                      
                 
                    
                </div>
	          </div>
	        </div>
	        
	      </div>
	    </div>


{% endblock %}

