{% extends 'base.html' %}
{% load static %}
{% block title %}Yachaycode | Configuracion{% endblock title %}

{% block section %}
  <div class="container-fluid">
     <div class="row">
       <main class="col-sm-6 ml-sm-auto col-md-4 pt-3" role="main">
             <section class="content">
              <h4> <b>Redes Sociales</b> </h4>

              <h5>Twitter</h5>
              {% if twitter_login %}
                <p>Connected as <a href="https://twitter.com/{{ twitter_login.extra_data.access_token.screen_name }}/" target="_blank">@{{ twitter_login.extra_data.access_token.screen_name }}</a></p>
                {% if can_disconnect %}
                  <form method="post" action="{% url 'social:disconnect' 'twitter' %}">
                    {% csrf_token %}
                    <button type="submit">Desconectarse de Twitter</button>
                  </form>
                {% else %}
                  <button type="button" disabled>Desconectarse de Twitter</button>
                  <p style="color: red">Debes <a href="{% url 'password' %}">definir una contraseña</a> para su cuenta antes de desconectarse de Twitter.</p>
                {% endif %}
              {% else %}
                <a href="{% url 'social:begin' 'twitter' %}">Conéctate a Twitter</a>
              {% endif %}

              <h5>Facebook</h5>
              {% if facebook_login %}
                <p>Conectado como <a href="https://facebook.com/{{ facebook_login.extra_data.id }}/" target="_blank">{{ facebook_login.extra_data.id }}</a></p>
                {% if can_disconnect %}
                  <form method="post" action="{% url 'social:disconnect' 'facebook' %}">
                    {% csrf_token %}
                    <button type="submit">Desconectarse de Facebook</button>
                  </form>
                {% else %}
                  <button type="button" disabled>Desconectarse de Facebook</button>
                  <p style="color: red">Debes <a href="{% url 'password' %}">definir una contraseña</a> para su cuenta antes de desconectarse de Facebook.</p>
                {% endif %}
              {% else %}
                <a href="{% url 'social:begin' 'facebook' %}">Conéctate a Facebook</a>
              {% endif %}
             
             </section>
       </main>
     </div>
   </div> 
{% endblock section %}