<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>Error 404</title>
    <link rel="shortcut icon" href="https://platzi.com/static/images/favicon.ico" />
    <link href="https://static.platzi.com/static/website/v2/css/error404.3c5d9b3861ed.css" rel="stylesheet" media="screen">
    <link href='https://fonts.googleapis.com/css?family=Lato:400,400italic,700,300' rel='stylesheet' type='text/css'>
    <meta name="robots" content="noindex" />
  </head>
  <body>
  <div class="Errorpage">
    <div class="Errorpage-container">
      <div class="Errorpage-topImage" style="background: url(https://static.platzi.com/static/images/error/stars-pttnr.27975c1c9c27.png)">
        <figure class="Errorpage-image">
          <img src="https://static.platzi.com/static/images/error/img404.a1003ad86732.png">
        </figure>
      </div>
      <div class="Errorpage-text">
        <h3>Hmmm!</h3>
        <p>No encontramos lo que buscabas,
        </p>
      </div>
    </div>
  </div>
  </body>
</html>
