{% load static %}
 <!-- Footer -->
<footer class="page-footer font-small fond_footer pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Footer links -->
    <div class="row text-center text-md-left ">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h4 class="mb-3 ">YachayCode</h4>
        <p class="color-p">Creando tecnología, escriendo y compartiendo experiencias</p>
        
      </p>
        <p>
      
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <!--<div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h4 class="mb-3">Facebook</h4>
        
      </div>-->
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h4 class="mb-3">Nosotros</h4>
        <a href="/blog/acerca/" target="_blank"><i class=" footer_icon"></i>Acerca de</a>
      </div>

      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-4 ">
        <h4 class="mb-3">¿contactenos?</h4>
        <p class="color-p">    <i class="fa fa-envelope mr-3"></i> yachaycode@gmail.com</p>
        <a href="https://api.whatsapp.com/send?phone=51983679449" target="_blank"><i class="fab fa-whatsapp footer_icon"></i></a>
        <a href="https://www.facebook.com/Yachaycode-618908005122073/" target="_blank"><i class="fab fa-facebook-f footer_icon"></i></a>
        <a href="https://www.youtube.com/channel/UChd1mszMRyIKgGnlsSdMiuA?disable_polymer=true" target="_blank"><i class="fab fa-youtube footer_icon "></i></a></p>
     
      </div>
      <!-- Grid column -->

    </div>
    <!-- Footer links -->

    <hr class="w-100">

    <!-- Grid row -->
    <div class="row d-flex align-items-center ">

      <!-- Grid column -->
      <div class="col-md-8 col-lg-8 ">

        <!--Copyright-->
        <p class=""><a href="#" class=""><span class="">Políticas</span></a> | <a href="#"><span class="">Terminos y condiciones</span></a></p>
        

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-4 ml-lg-0">

        <!-- Social buttons -->
        <div class="text-center text-md-center">
          <p class="">
            Copyright@YachayCode 2019
          </p>
        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

</footer>
<!-- Footer -->
