{% load static %}
 <!-- Footer -->
<footer class="page-footer font-small fond_footer pt-4 mt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Footer links -->
    <div class="row text-center text-md-left mt-3 pb-3">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Acerca de yachaycode</h6>
        <p>profesionales que imparten conocimiento a nivel mundial.</p><p>
        <p><a href="#">ver mas..</a></p>
          <i class="fa fa-envelope mr-3"></i> info@example.com</p>
        <p>
        <a href="#"><i class="fab fa-whatsapp footer_icon"></i></a>
        <a href="#"><i class="fab fa-facebook-f footer_icon"></i></a>
        <a href="#"><i class="fab fa-youtube footer_icon "></i></a></p>
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Facebook</h6>
        
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">Enlaces adicionales</h6>
       <p>publicaciones
sobre django
todo sobre java 
videos en youtube</p><p>
      </div>

      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="text-uppercase mb-4 font-weight-bold">¿Necesitas ayuda?</h6>
     
          <form action="#">
             
              <div class="form-group">
                <input type="text" class="Fields form-control form-control-sm" id="nombre" placeholder="Nombres completos">

              </div>
               <div class="form-group">
                <input type="email" class="Fields form-control form-control-sm" id="email" placeholder="Correo electronico">

              </div>
              
               <div class="form-group">
                  <textarea class="Fields form-control form-control-sm" id="texarea" placeholder="Escribe aqui en que podemos ayudarlo" rows="3"></textarea>
                </div>
              <div class="form-group">
                <button type="button btn-sm" class="btn btn-blue btn-sm">Enviar consulta</button>
              </div>
          </form>
     
      </div>
      <!-- Grid column -->

    </div>
    <!-- Footer links -->

    <hr class="w-100 linea_color">

    <!-- Grid row -->
    <div class="row d-flex align-items-center">

      <!-- Grid column -->
      <div class="col-md-8 col-lg-8">

        <!--Copyright-->
        <p><a href="#">Políticas</a> | <a href="#">Terminos y condiciones</a></p>
        

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-4 ml-lg-0">

        <!-- Social buttons -->
        <div class="text-center text-md-right">
          <p>
            Copyright@iisotec 2018
          </p>
        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

</footer>
<!-- Footer -->