{% load static %}
 <!-- Footer -->
<footer class="page-footer font-small fond_footer pt-2">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Footer links -->
    <div class="row text-center text-md-left ">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="mb-2 font-weight-bold">Acerca de YachayCode</h6>
        <p class="">Profesionales que imparten experiencias</p><p>
        <p class=""><a href="#"><span class="">ver mas...</span></a></p>
      </p>
        <p>
      
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="mb-2 font-weight-bold">Facebook</h6>
        
      </div>
      <!-- Grid column -->

      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mt-3">
        <h6 class="mb-2 font-weight-bold">Enlaces adicionales</h6>
       <p class="">publicaciones
sobre django
todo sobre java 
videos en youtube</p><p>
      </div>

      <!-- Grid column -->
      <hr class="w-100 clearfix d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mt-3">
        <h6 class="mb-2 font-weight-bold">¿contactenos?</h6>
        <p class="">    <i class="fa fa-envelope mr-3"></i> yachaycode@gmail.com</p>
        <a href="https://api.whatsapp.com/send?phone=51983679449"><i class="fab fa-whatsapp footer_icon"></i></a>
        <a href="https://www.facebook.com/Yachaycode-618908005122073/"><i class="fab fa-facebook-f footer_icon"></i></a>
        <a href="https://www.youtube.com/channel/UChd1mszMRyIKgGnlsSdMiuA?disable_polymer=true"><i class="fab fa-youtube footer_icon "></i></a></p>
     
      </div>
      <!-- Grid column -->

    </div>
    <!-- Footer links -->

    <hr class="w-100 linea_color">

    <!-- Grid row -->
    <div class="row d-flex align-items-center">

      <!-- Grid column -->
      <div class="col-md-8 col-lg-8">

        <!--Copyright-->
        <p class=""><a href="#" class=""><span class="">Políticas</span></a> | <a href="#"><span class="">Terminos y condiciones</span></a></p>
        

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-4 col-lg-4 ml-lg-0">

        <!-- Social buttons -->
        <div class="text-center text-md-center">
          <p class="">
            Copyright@YachayCode 2019
          </p>
        </div>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

</footer>
<!-- Footer -->