{% load static %}
<!--Navbar-->

<nav class="navbar fixed-top navbar-expand-lg navbar-light white ">

  <!-- Navbar brand -->
  <a class="navbar-brand" href="/"><img src="{% static "img/logos.png" %} "></a>

  <!-- Collapse button -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#basicExampleNav"
    aria-controls="basicExampleNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <!-- Collapsible content -->
  <div class="collapse navbar-collapse" id="basicExampleNav">

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
     
      <li class="nav-item">
        <a class="nav-link" href="#">Nosotros</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'app_blog:p_inicio' %} ">Blog</a>
      </li>
    </ul>
    <!-- Links -->

    <form class="form-inline">
     
    </form>
  </div>
  <!-- Collapsible content -->

</nav>
<!--/.Navbar-->

