{% load static %}
<!--Navbar-->
  <nav class="menu fixed-top">              
                <div class="navbar-header text-center ">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#menu">                   
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                   <a class="navbar-brand" href="#"><img class="img-logo pt-s" src="/static/img/logo.png"></a>
                </div>
                <div class="collapse menu-collapse" id="menu">
                    <ul class="menu-nav">
                         <li class=""><a href="">Inicios</a></li>
                        <li class=""><a href="{% url 'app_blog:p_acerca_de' %}">Nosotros</a></li>
                        <li class=""><a href="{% url 'app_blog:p_inicio' %} ">Blog</a></li>
                      
                    </ul> 
                </div>    
            </nav> 
<!--/.Navbar-->

