{% extends "base.html" %}

{% block title %}YachayCode - Inicio {% endblock title %}
{% block contenido %}

 <!--/.start bannner-->
<div class="container-fluid banner pt-general">
  <div class="row">
     <div class="col-md-6 centerv">
        <div class="vert-banner  mg-l">
                <h2 class="title-banner"><b>Equipo YachayCode</b></h2>
              <p class="p-banner">Suscribite para enterarte de todas las publicaciones y actualizaciones relacionado al desarrollo de Software.</p>

              <form class="form-inline" method="GET" action="/blog/buscador">
              <div class="container-1 pt-3">
                    <span class="icon"><i class="fa fa-search"></i></span>
                    <input class="form-control search" type="text" id="q" name="q" placeholder="Buscar .." />
              </div>
            </form>  
        </div>
        {% if blogs %}
            <h2>{{ blogs.titulo }}</h2>
            <p>{{ blogs.resumen }}</p>
        {%else%}
        <h5> No se encontraron resultados</h5>
        {% endif %}
     </div>
     <div class="col-md-6 img-banner"></div>
  </div>
</div>
<!--/.end bannner-->

<div class="container mb-lg1">
  <div class="row mt-5 mb-5">
    <div class="col-md-12 text-center">
       <h5 class="color-title" id="myModalLabel"><b>Últimas publicaciones</b></h5>
    </div>
  </div>
   
  <div class="row mb-5">
  {% for blog in blogs %}
    <div class="col-md-4">
      <!-- Card -->
        <div class="card">

          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="{{ blog.portada.url }}" alt="Card image cap">
            <a href="{% url 'app_blog:p_detalle_blog' blog.slug %}">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!-- Card content -->
          <div class="card-body">

            <!-- Title -->
            <a href="{% url 'app_blog:p_detalle_blog' blog.slug %}"><h5 class="card-title">{{blog.titulo}}</h5></a>
            <!-- Text -->
            <p class="card-text">{{blog.resumen}} </p>
            <!-- Button -->
          

          </div>
           <!-- Card footer -->
            <div class="rounded-bottom  lighten-3  pt-3 ">
              <div class="row pd-gblog mb-1">
                  <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-2 ">
                              <div class="avatar-blog ">
                              <img src="{{ blog.autor.perfil_usuario.foto.url }}" class="rounded-circle img-fluid">
                              </div>
                        </div>
                          
                        <div class="col-md-10  pd-lblog cy-blog">
                            <p class="text-avatar mpg">Posteado por <b>{{ blog.autor.perfil_usuario.nombres }} {{ blog.autor.perfil_usuario.apellidos }}</b></p>
                            <p class="text-avatar mpg">{{blog.fecha_publicacion|date:"d M, Y"}}</p>
                        </div>
                    </div>
                  </div>

                  <div class="col-md-4 cy-blog">
                    <p class="text-avatar mpg">Leelo en 3 min.</p>
                </div>
            </div>

          </div>
        </div>
        <!-- Card -->
    </div>
  {% endfor %}
  </div>

  </div>



{% endblock %}

         
                
                              
