{% extends "base.html" %}

{% block title %}Yachay Code - Inicio {% endblock title %}
{% block contenido %}

<!--/.start bannner-->
<div class="container-fluid banner">
  <div class="row">
     <div class="col-md-6 centerv">
        <div class="vert-banner  mg-l">
                <h2 class="title-banner"><b>Equipo Yachaycode</b></h2>
              <p class="p-banner">suscribite para enterarte de toda las publicacion y nuevas actualizaciones sobre el mundo de la programacion.</p>

              <form class="form-inline">
              <div class="container-1">
                    <span class="icon"><i class="fa fa-search"></i></span>
                    <input class="form-control search" type="search" id="" placeholder="Buscar .." />
                </div>
            </form>  
        </div>
     </div>
     <div class="col-md-6 img-banner"></div>
  </div>
</div>
<!--/.end bannner-->

<div class="container mb-lg1">
  <div class="row mt-5 mb-5">
    <div class="col-md-12 text-center">
       <h5 class="color-title" id="myModalLabel"><b>Ultimas publicaciones</b></h5>
    </div>
  </div>
  <div class="row mb-5">
    <div class="col-md-4">
      <!-- Card -->
        <div class="card">

          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="static/img/img.jpg" alt="Card image cap">
            <a href="#">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!-- Card content -->
          <div class="card-body">

            <!-- Title -->
            <a href="#"><h5 class="card-title">Curso profesional de django.</h5></a>
            <!-- Text -->
            <p class="card-text">el mejor curso de programacion para personas intermedio que dominen este lenguaje de progracion </p>
            <!-- Button -->
          

          </div>
           <!-- Card footer -->
            <div class="rounded-bottom  lighten-3  pt-3 ">


              <div class="row pd-gblog mb-1">
                  <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-2 ">
                              <div class="avatar-blog ">
                              <img src="static/img/user.jpg" class="rounded-circle img-fluid">
                              </div>
                        </div>
                          
                        <div class="col-md-10  pd-lblog cy-blog">
                            <p class="text-avatar mpg">Posteado por <b>alejo</b></p>
                            <p class="text-avatar mpg">5 Julio,2018</p>
                        </div>
                    </div>
                  </div>

                  <div class="col-md-4 cy-blog">
                    <p class="text-avatar mpg">Leelo en 3 min.</p>
                </div>
            </div>

          </div>
        </div>
        <!-- Card -->
    </div>

        <div class="col-md-4">
      <!-- Card -->
        <div class="card">

          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="static/img/img.jpg" alt="Card image cap">
            <a href="#">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!-- Card content -->
          <div class="card-body">

            <!-- Title -->
            <a href="#"><h5 class="card-title">Curso profesional de django.</h5></a>
            <!-- Text -->
            <p class="card-text">el mejor curso de programacion para personas intermedio que dominen este lenguaje de progracion </p>
            <!-- Button -->
          

          </div>
           <!-- Card footer -->
            <div class="rounded-bottom  lighten-3  pt-3 ">


              <div class="row pd-gblog mb-1">
                  <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-2 ">
                              <div class="avatar-blog ">
                              <img src="static/img/user.jpg" class="rounded-circle img-fluid">
                              </div>
                        </div>
                          
                        <div class="col-md-10  pd-lblog cy-blog">
                            <p class="text-avatar mpg">Posteado por <b>alejo</b></p>
                            <p class="text-avatar mpg">5 Julio,2018</p>
                        </div>
                    </div>
                  </div>

                  <div class="col-md-4 cy-blog">
                    <p class="text-avatar mpg">Leelo en 3 min.</p>
                </div>
            </div>

          </div>
        </div>
        <!-- Card -->
    </div>
  <div class="col-md-4">
      <!-- Card -->
        <div class="card">

          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="static/img/img.jpg" alt="Card image cap">
            <a href="#">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!-- Card content -->
          <div class="card-body">

            <!-- Title -->
            <a href="#"><h5 class="card-title">Curso profesional de django.</h5></a>
            <!-- Text -->
            <p class="card-text">el mejor curso de programacion para personas intermedio que dominen este lenguaje de progracion </p>
            <!-- Button -->
          

          </div>
           <!-- Card footer -->
            <div class="rounded-bottom  lighten-3  pt-3 ">


              <div class="row pd-gblog mb-1">
                  <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-2 ">
                              <div class="avatar-blog ">
                              <img src="static/img/user.jpg" class="rounded-circle img-fluid">
                              </div>
                        </div>
                          
                        <div class="col-md-10  pd-lblog cy-blog">
                            <p class="text-avatar mpg">Posteado por <b>alejo</b></p>
                            <p class="text-avatar mpg">5 Julio,2018</p>
                        </div>
                    </div>
                  </div>

                  <div class="col-md-4 cy-blog">
                    <p class="text-avatar mpg">Leelo en 3 min.</p>
                </div>
            </div>

          </div>
        </div>
        <!-- Card -->
    </div>
        
    </div>


    <div class="row mb-5">
    <div class="col-md-4">
      <!-- Card -->
        <div class="card">

          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="static/img/img.jpg" alt="Card image cap">
            <a href="#">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!-- Card content -->
          <div class="card-body">

            <!-- Title -->
            <a href="#"><h5 class="card-title">Curso profesional de django.</h5></a>
            <!-- Text -->
            <p class="card-text">el mejor curso de programacion para personas intermedio que dominen este lenguaje de progracion </p>
            <!-- Button -->
          

          </div>
           <!-- Card footer -->
            <div class="rounded-bottom  lighten-3  pt-3 ">


              <div class="row pd-gblog mb-1">
                  <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-2 ">
                              <div class="avatar-blog ">
                              <img src="static/img/user.jpg" class="rounded-circle img-fluid">
                              </div>
                        </div>
                          
                        <div class="col-md-10  pd-lblog cy-blog">
                            <p class="text-avatar mpg">Posteado por <b>alejo</b></p>
                            <p class="text-avatar mpg">5 Julio,2018</p>
                        </div>
                    </div>
                  </div>

                  <div class="col-md-4 cy-blog">
                    <p class="text-avatar mpg">Leelo en 3 min.</p>
                </div>
            </div>

          </div>
        </div>
        <!-- Card -->
    </div>

        <div class="col-md-4">
      <!-- Card -->
        <div class="card">

          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="static/img/img.jpg" alt="Card image cap">
            <a href="#">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!-- Card content -->
          <div class="card-body">

            <!-- Title -->
            <a href="#"><h5 class="card-title">Curso profesional de django.</h5></a>
            <!-- Text -->
            <p class="card-text">el mejor curso de programacion para personas intermedio que dominen este lenguaje de progracion </p>
            <!-- Button -->
          

          </div>
           <!-- Card footer -->
            <div class="rounded-bottom  lighten-3  pt-3 ">


              <div class="row pd-gblog mb-1">
                  <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-2 ">
                              <div class="avatar-blog ">
                              <img src="static/img/user.jpg" class="rounded-circle img-fluid">
                              </div>
                        </div>
                          
                        <div class="col-md-10  pd-lblog cy-blog">
                            <p class="text-avatar mpg">Posteado por <b>alejo</b></p>
                            <p class="text-avatar mpg">5 Julio,2018</p>
                        </div>
                    </div>
                  </div>

                  <div class="col-md-4 cy-blog">
                    <p class="text-avatar mpg">Leelo en 3 min.</p>
                </div>
            </div>

          </div>
        </div>
        <!-- Card -->
    </div>
  <div class="col-md-4">
      <!-- Card -->
        <div class="card">

          <!-- Card image -->
          <div class="view overlay">
            <img class="card-img-top" src="static/img/img.jpg" alt="Card image cap">
            <a href="#">
              <div class="mask rgba-white-slight"></div>
            </a>
          </div>

          <!-- Card content -->
          <div class="card-body">

            <!-- Title -->
            <a href="#"><h5 class="card-title">Curso profesional de django.</h5></a>
            <!-- Text -->
            <p class="card-text">el mejor curso de programacion para personas intermedio que dominen este lenguaje de progracion </p>
            <!-- Button -->
          

          </div>
           <!-- Card footer -->
            <div class="rounded-bottom  lighten-3  pt-3 ">


              <div class="row pd-gblog mb-1">
                  <div class="col-md-8">
                    <div class="row">
                        <div class="col-md-2 ">
                              <div class="avatar-blog ">
                              <img src="static/img/user.jpg" class="rounded-circle img-fluid">
                              </div>
                        </div>
                          
                        <div class="col-md-10  pd-lblog cy-blog">
                            <p class="text-avatar mpg">Posteado por <b>alejo</b></p>
                            <p class="text-avatar mpg">5 Julio,2018</p>
                        </div>
                    </div>
                  </div>

                  <div class="col-md-4 cy-blog">
                    <p class="text-avatar mpg">Leelo en 3 min.</p>
                </div>
            </div>

          </div>
        </div>
        <!-- Card -->
    </div>
        
    </div>


  </div>



	
{% endblock %}

         
                
                              
